flows_smaplra.json
[{"id":"807487aa.61868","type":"tab","label":"Tiendar.io - Tienda","disabled":false,"info":""},{"id":"e61c260d.1c787","type":"tab","label":"HolaMudo","disabled":true,"info":""},{"id":"492da878.144","type":"tab","label":"Ejemplo get/post","disabled":true,"info":""},{"id":"85ae90a6.827ac8","type":"tab","label":"Cosas viejas","disabled":true,"info":""},{"id":"7d55cb03.a65684","type":"inject","z":"e61c260d.1c787","name":"","topic":"","payload":"container","payloadType":"global","repeat":"","crontab":"","once":false,"x":231.5,"y":155,"wires":[["34477a5d.5dc306"]]},{"id":"392f0757.97262","type":"debug","z":"e61c260d.1c787","name":"","active":false,"console":"false","complete":"payload","x":650,"y":160,"wires":[]},{"id":"34477a5d.5dc306","type":"function","z":"e61c260d.1c787","name":"InitContainer","func":"function Container(id, name) {\n    return {'id': id, 'name': name}\n}\n\nmsg.payload = Container(0, 'Pato')\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["2f4498f8.3905d8","cac00910.a8a9b8"]]},{"id":"2f4498f8.3905d8","type":"xml","z":"e61c260d.1c787","name":"","attr":"","chr":"","x":501.5,"y":194,"wires":[["392f0757.97262","c7638cbc.16615"]]},{"id":"c7638cbc.16615","type":"xml","z":"e61c260d.1c787","name":"","attr":"","chr":"","x":678.5,"y":260,"wires":[["df505b6c.25d8e","dffcaf28.520be"]]},{"id":"178eb72f.445879","type":"debug","z":"e61c260d.1c787","name":"","active":true,"console":"false","complete":"false","x":910,"y":300,"wires":[]},{"id":"85f785ff.2e2158","type":"http request","z":"e61c260d.1c787","name":"","method":"GET","ret":"txt","url":"","tls":"","x":430,"y":420,"wires":[["1d4468de.c6e6af"]]},{"id":"af7edfeb.c06e28","type":"inject","z":"e61c260d.1c787","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120.5,"y":376,"wires":[["4f1c6972.097d38"]]},{"id":"4f1c6972.097d38","type":"change","z":"e61c260d.1c787","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"www.google.es","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":206.5,"y":475,"wires":[["85f785ff.2e2158"]]},{"id":"1d4468de.c6e6af","type":"debug","z":"e61c260d.1c787","name":"","active":true,"console":"false","complete":"false","x":623.5,"y":438,"wires":[]},{"id":"df505b6c.25d8e","type":"function","z":"e61c260d.1c787","name":"","func":"function Container(id, name) {\n    return {'id': id, 'name': name}\n}\n\nvar container\nfor (var key in msg.payload)\n{\n    if (msg.payload.hasOwnProperty(key)) {           \n        ct = msg.payload[key];\n        container = Container(ct['id'][0], ct['name'][0])\n    }\n    \n}\n\n//container = Container(msg.payload['root']['id'][0], msg.payload['root']['name'][0])\n\nmsg.payload = container\nreturn msg;","outputs":1,"noerr":0,"x":754,"y":332,"wires":[["178eb72f.445879"]]},{"id":"1ec798de.b0bdbf","type":"debug","z":"e61c260d.1c787","name":"","active":false,"console":"false","complete":"false","x":990,"y":200,"wires":[]},{"id":"dffcaf28.520be","type":"function","z":"e61c260d.1c787","name":"","func":"msg.payload = msg.payload['root']\nreturn msg;","outputs":1,"noerr":0,"x":797,"y":214,"wires":[["1ec798de.b0bdbf"]]},{"id":"cac00910.a8a9b8","type":"debug","z":"e61c260d.1c787","name":"","active":false,"console":"false","complete":"false","x":603,"y":364,"wires":[]},{"id":"ffbe4a3f.cedf3","type":"http in","z":"e61c260d.1c787","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":160,"y":620,"wires":[["fea7fdb8.4b052","d5b01b7d.d313"]]},{"id":"fea7fdb8.4b052","type":"debug","z":"e61c260d.1c787","name":"","active":true,"console":"false","complete":"false","x":400,"y":581,"wires":[]},{"id":"d5b01b7d.d313","type":"http response","z":"e61c260d.1c787","name":"","statusCode":"","headers":{},"x":670,"y":680,"wires":[]},{"id":"8ab806cd.37f32","type":"inject","z":"807487aa.61868","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":168.5714111328125,"y":285.7142791748047,"wires":[["82686b7e.7a183"]]},{"id":"82686b7e.7a183","type":"function","z":"807487aa.61868","name":"Init Container","func":"// Los clientes deben tener identificador y la lista de tiendas en las que han estado\n// De las tiendas se tiene la ip o hostname y puerto si es necesario, y el tipo\nclass Shop {\n    constructor(forum, lproducts){\n        this.type = \"js\"; // shop type to send and receive\n        this.products = {}; // Products dictionary inizalizer\n        this.forum = forum; // shop avalaible space for clients\n        this.isOpen = true; // shop initial state\n        this.clientes = {}; // Client list, index by idCliente, stores {'idTienda': {direccion: 'd', tipo: 'php/py/js'}, ...}\n        \n        for(let i = 0; i < lproducts.length; i++){\n            this.products[lproducts[i].nombre] = lproducts[i].cantidad;\n        }\n    }\n    \n    get isFull(){\n        return Object.keys(this.clientes).length >= this.forum;\n    }\n    \n    // A client makes a petition to know other shops\n    knownShops(clientID){\n        var kshops = []; // [{idTienda: 'a', direccion: 'd', tipo: 'php/py/js'}, ...]\n        var auxshops = {};\n        \n        for (let client in this.clientes) {\n            auxshops = Object.assign({}, this.clientes[client], auxshops);\n        }\n        \n        for (let shop in auxshops) {\n            if (this.clientes[clientID].shops[shop] === undefined) {\n                kshops.push({idTienda: shop, direccion: auxshops[shop].direccion, tipo: auxshops[shop].tipo});\n            }\n        }\n        \n        return kshops;\n    }\n    \n    isInside(clientID) {\n        return this.clientes[clientID] !== undefined;\n    }\n    \n    clientJoin(idCliente, kshops) {\n        dshops = {};\n        \n        for(let i = 0; i < kshops.length; i++){\n            dshops[kshops[i].idTienda] = {direccion: kshops[i].direccion, tipo: kshops[i].tipo};\n        }\n        \n        this.clientes[idCliente] = dshops;\n    }\n    \n    clientLeave(idCliente) {\n        delete this.clientes[idCliente];\n    }\n    \n    // client petition to buy some items\n    sellItems(list_products){ // [{nombre: 'a', cantidad: n}, ..., {nombre: 'z', cantidad: m}]\n        var newlist = [];\n        \n        // iterate client list\n        for(let i = 0; i < list_products.length; i++){\n            if(this.products[list_products[i].nombre] !== undefined){\n                var ns = Math.max(this.products[list_products[i].nombre] - list_products[i].cantidad, 0);\n                \n                newlist.push({nombre: list_products[i].nombre, cantidad: this.products[list_products[i].nombre] - ns});\n                \n                this.products[list_products[i].nombre] = ns;\n                if (ns === 0) {\n                    delete this.products[list_products[i].nombre];\n                }\n            }\n        }\n        \n        if (Object.keys(this.products).length === 0) {\n            this.isOpen = false;\n        }\n        \n        return newlist;\n    }\n}\n\nflow.set(\"direccion\", 'http://clanjhoo.com:1880/');\nflow.set(\"Shop\",Shop);\nflow.set(\"shopDict\", {});\nflow.set(\"lmesTS\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":374.2857360839844,"y":285.7142639160156,"wires":[[]]},{"id":"b57821be.97f958","type":"http in","z":"492da878.144","name":"","url":"/mysite","method":"get","upload":false,"swaggerDoc":"","x":290,"y":340,"wires":[["54227585.0640f4"]]},{"id":"adc22a6b.13934","type":"http in","z":"492da878.144","name":"","url":"/mysitepost","method":"post","upload":false,"swaggerDoc":"","x":310,"y":540,"wires":[["d94f1437.698d28","4019df5b.96da08"]]},{"id":"54227585.0640f4","type":"function","z":"492da878.144","name":"msg.url = \"mysitepost\";","func":"msg.url = \"mysitepost\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["1f8dad10.7ee553"]]},{"id":"d94f1437.698d28","type":"debug","z":"492da878.144","name":"mysitepost","active":true,"console":"false","complete":"payload","x":950,"y":540,"wires":[]},{"id":"48581ac5.37f7ec","type":"http response","z":"492da878.144","name":"","x":970,"y":500,"wires":[]},{"id":"ca4df4ce.f65dc","type":"template","z":"492da878.144","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":690,"y":440,"wires":[["33a5a09.ae970e"]]},{"id":"1f8dad10.7ee553","type":"template","z":"492da878.144","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":530,"y":440,"wires":[["ca4df4ce.f65dc"]]},{"id":"aa436d8c.519548","type":"http response","z":"492da878.144","name":"","x":970,"y":440,"wires":[]},{"id":"33a5a09.ae970e","type":"template","z":"492da878.144","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Using CSS to style an HTML form with AJAX POST and Node-RED</h2>\n    <h4><a href=\"http://www.internetoflego.com\">Internet of LEGO</a></h4>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">First Name</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Last Name</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":830,"y":440,"wires":[["aa436d8c.519548"]]},{"id":"1d02e8c9.1cf6a7","type":"comment","z":"492da878.144","name":"Login Form","info":"","x":490,"y":400,"wires":[]},{"id":"bf46c91.39e6838","type":"function","z":"492da878.144","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":500,"wires":[["48581ac5.37f7ec"]]},{"id":"83894712.338bd8","type":"comment","z":"492da878.144","name":"Inject msg object properties","info":"","x":500,"y":300,"wires":[]},{"id":"4019df5b.96da08","type":"json","z":"492da878.144","name":"","pretty":false,"x":510,"y":500,"wires":[["bf46c91.39e6838"]]},{"id":"336c3298.329f8e","type":"comment","z":"492da878.144","name":"Website","info":"","x":270,"y":260,"wires":[]},{"id":"5f119ee2.8380b","type":"comment","z":"492da878.144","name":"Form Submission","info":"","x":300,"y":480,"wires":[]},{"id":"de7f2c26.7dad8","type":"comment","z":"492da878.144","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n","x":600,"y":160,"wires":[]},{"id":"18872d4e.009d4b","type":"debug","z":"807487aa.61868","name":"PrintShopDict","active":true,"console":"false","complete":"payload","x":725.7142944335938,"y":357.1428527832031,"wires":[]},{"id":"47c10ef3.ed317","type":"inject","z":"807487aa.61868","name":"InitPrintShops","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":360,"wires":[["5ede7e7b.316338"]]},{"id":"5ede7e7b.316338","type":"function","z":"807487aa.61868","name":"GetShops","func":"msg.payload = flow.get(\"shopDict\");\n\nreturn msg;","outputs":1,"noerr":0,"x":371.4286193847656,"y":360,"wires":[["18872d4e.009d4b"]]},{"id":"322e7b3f.924024","type":"comment","z":"807487aa.61868","name":"View Shops","info":"","x":537.142822265625,"y":360,"wires":[]},{"id":"40a1d790.f6acf8","type":"http in","z":"807487aa.61868","name":"MSGReceive","url":"/","method":"post","upload":false,"swaggerDoc":"","x":442,"y":554,"wires":[["902da93.2cae9d8"]]},{"id":"4a413d98.60a9d4","type":"xml","z":"807487aa.61868","name":"ParseXML","attr":"","chr":"","x":962,"y":974,"wires":[["cecee254.4268e"]]},{"id":"1b19cf15.4e4c91","type":"http response","z":"807487aa.61868","name":"MsgResponse","statusCode":"","headers":{},"x":2188,"y":1196,"wires":[]},{"id":"cecee254.4268e","type":"function","z":"807487aa.61868","name":"FixRecvObject","func":"function rUlness(col)\n{\n    var t = typeof col\n    if (t === \"object\")\n    {\n        if (col.hasOwnProperty('length'))\n        {\n            for (var i = 0; i < col.length; i++) {\n                col[i] = rUlness(col[i]);\n            }\n            if (col.length === 1)\n            {\n                col = col[0]\n            }\n        }\n        else\n        {\n            for (var key in col) {\n                if (col.hasOwnProperty(key)) {\n                    col[key] = rUlness(col[key]);\n                }\n            }\n        }\n    }\n    return col;\n}\n\nmsg.payload = rUlness(msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":1174,"y":854,"wires":[["ed6c2dea.0efee8","49ffb8f6.0c2018"]]},{"id":"73ad5efc.3acc5","type":"function","z":"807487aa.61868","name":"Answer","func":"//msg.payload['TC2'] = msg.payload['CT1']\n//delete msg.payload['CT1']\n\n/*\ndict.push({\n    key:   \"keyName\",\n    value: \"the value\"\n});\n*/\nvar d = new Date();\n\nvar time = [{timestamp: d.getTime(),creador:\"clanjhoo.com:1880\"}];\n\nfor (var key in msg.payload) {\n    if (msg.payload.hasOwnProperty(key)) {\n        if(key=='CT1'){\n            for (var lb in msg.payload[key]) {\n                if (msg.payload.hasOwnProperty(key)) {\n                    if(lb === \"emisor\"){\n                        var receptorR = msg.payload[key][lb][\"emisor\"]\n                    }\n                    if(lb === \"receptor\"){\n                        var emisorR = msg.payload[key][lb][\"receptor\"]\n                    }\n                    //msg.payload[key][lb] = msg.payload[key][lb]\n                    /*\n                    if (lb === \"time\") {\n                        msg.payload[key][lb][\"timestamp\"] = msg.payload[key][lb][\"timestamp\"][0]\n                        msg.payload[key][lb][\"creador\"] = msg.payload[key][lb][\"creador\"][0]\n                    }\n                    */\n                    if (lb === \"listaP\") {\n                        /*\n                        for(var prod in msg.payload[key][lb]){ // [0]?\n                            \n                            if(prod == \"producto\"){\n                                nom_producto = msg.payload[key][lb][prod][\"nombre\"][0]\n                                cant_producto = msg.payload[key][lb][prod][\"cantidad\"][0]\n                            }\n                            // insertar codigo para preparar mensajes con productos por cada producto\n                            \n                        }\n                        */\n                        var listaCompradoR = msg.payload[key][lb]\n                    }\n                }\n            }\n            msg.payload = []\n            msg.payload['TC3'] = []\n            var emisor = [{emisor: emisorR}];\n            var receptor = [{receptor: receptorR}];\n            var listaComprado = [{listaComprado: listaCompradoR}];\n            msg.payload['TC3'].push([{emisor: emisor}]);\n            msg.payload['TC3'].push([{receptor: receptor}]);\n            msg.payload['TC3'].push([{time: time}]);\n            msg.payload['TC3'].push([{listaComprado: listaComprado}]);\n            return msg;\n        }\n        if(key=='MT1'){\n            for (var lb in msg.payload[key]) {\n                if (msg.payload.hasOwnProperty(key)) {\n                    msg.payload[key][lb] = msg.payload[key][lb][0]\n                    if (lb === \"time\") {\n                        msg.payload[key][lb][\"timestamp\"] = msg.payload[key][lb][\"timestamp\"][0]\n                        msg.payload[key][lb][\"creador\"] = msg.payload[key][lb][\"creador\"][0]\n                    }\n                }\n            }\n            return msg;\n        }\n        if(key=='MT3'){\n            for (var lb in msg.payload[key]) {\n                if (msg.payload.hasOwnProperty(key)) {\n                    msg.payload[key][lb] = msg.payload[key][lb][0]\n                    if (lb === \"time\") {\n                        msg.payload[key][lb][\"timestamp\"] = msg.payload[key][lb][\"timestamp\"][0]\n                        msg.payload[key][lb][\"creador\"] = msg.payload[key][lb][\"creador\"][0]\n                    }\n                }\n            }\n            return msg;\n        }\n        if(key=='MT5'){\n            for (var lb in msg.payload[key]) {\n                if (msg.payload.hasOwnProperty(key)) {\n                    msg.payload[key][lb] = msg.payload[key][lb][0]\n                    if (lb === \"time\") {\n                        msg.payload[key][lb][\"timestamp\"] = msg.payload[key][lb][\"timestamp\"][0]\n                        msg.payload[key][lb][\"creador\"] = msg.payload[key][lb][\"creador\"][0]\n                    }\n                }\n            }\n            return msg;\n        }\n        delete msg.payload[key]\n        msg.payload[\"error\"] = \"mensaje no esperado\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":1702,"wires":[[]]},{"id":"cbabe595.d97f08","type":"debug","z":"807487aa.61868","name":"ReceivedMSG","active":true,"console":"false","complete":"true","x":224.14288330078125,"y":551.8571472167969,"wires":[]},{"id":"47606191.e53338","type":"debug","z":"807487aa.61868","name":"ViewResponse","active":false,"console":"false","complete":"payload","x":1936.8570556640625,"y":784,"wires":[]},{"id":"a5e99e62.e63148","type":"inject","z":"807487aa.61868","name":"TestCT1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":156,"y":1482,"wires":[["b8524bf9.1c841"]]},{"id":"b8524bf9.1c841","type":"function","z":"807487aa.61868","name":"CreateCT1","func":"var mes = { CM1: {\n    emisor: 'emi',\n    receptor: 'rece',\n    time: {\n        timestamp: 1000,\n        creador: 'localhost'\n    },\n    listaP: {\n        producto: [\n            {\n                nombre: 'n1',\n                cantidad: 2\n            },\n            {\n                nombre: 'n2',\n                cantidad: 2\n            }\n        ]\n    },\n    listaT: {\n        tienda: [\n            {\n                idTienda: 'id1',\n                direccion: 'dir1',\n                tipo: 'php'\n            },\n            {\n                idTienda: 'id2',\n                direccion: 'dir2',\n                tipo: 'py'\n            }\n        ]\n    }\n}};\n\nmsg.payload = mes;\nreturn msg;","outputs":1,"noerr":0,"x":166,"y":1582,"wires":[["8d05a68b.37adb"]]},{"id":"8d05a68b.37adb","type":"xml","z":"807487aa.61868","name":"CT1ToXMLTest","attr":"","chr":"","x":436,"y":1582,"wires":[["640697f1.2e71f"]]},{"id":"640697f1.2e71f","type":"http request","z":"807487aa.61868","name":"SendCT1","method":"POST","ret":"txt","url":"localhost:1880","tls":"","x":696,"y":1582,"wires":[["2a34f04.aec141"]]},{"id":"2a34f04.aec141","type":"debug","z":"807487aa.61868","name":"Print Response","active":true,"console":"false","complete":"true","x":956,"y":1582,"wires":[]},{"id":"ed6c2dea.0efee8","type":"switch","z":"807487aa.61868","name":"SelectType","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"CT1","vt":"str"},{"t":"eq","v":"CT4","vt":"str"},{"t":"eq","v":"CT6","vt":"str"},{"t":"eq","v":"MT1","vt":"str"},{"t":"eq","v":"MT3","vt":"str"},{"t":"eq","v":"MT5","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":1404,"y":854,"wires":[["4c0767b0.b0c21"],["ad5420d1.caddb"],["9ad7c557.1c4338"],["692716aa.20a4e8"],["21822a70.1c10c6"],["2a76775b.3c4388"],[]]},{"id":"4c0767b0.b0c21","type":"function","z":"807487aa.61868","name":"CT1","func":"var shopDict = flow.get(\"shopDict\");\n\nvar idTienda = msg.payload.CT1.receptor;\nvar idCliente = msg.payload.CT1.emisor;\nvar listaP = msg.payload.CT1.listaP.producto;\nvar listaT = msg.payload.CT1.listaT.tienda;\nvar d = new Date();\n\nmsg.payload = undefined;\n\nif (shopDict[idTienda] !== undefined)\n{ // Si la tienda a la que envian el mensaje existe\n    if (shopDict[idTienda].isOpen) { // Si esta abierta\n        if (shopDict[idTienda].isInside(idCliente)) { // Si el cliente ya estaba dentro\n            msg.statusCode = 422;\n            msg.payload = \"The client is already inside the shop!\";\n        } else if (shopDict[idTienda].isFull()) { // Si esta llena\n            msg.payload = {\n                TC2: {\n                    emisor: idTienda,\n                    receptor: idCliente,\n                    time: {\n                        timestamp: d.getTime(),\n                        creador: flow.get(\"direccion\")\n                    }\n                }\n            };\n        } else { // Si no esta llena\n            shopDict[idTienda].clientJoin(idCliente, listaT);\n            var listaCompra = shopDict[idTienda].sellItems(listaP);\n            \n            msg.payload = {\n                TC3: {\n                    emisor: idTienda,\n                    receptor: idCliente,\n                    time: {\n                        timestamp: d.getTime(),\n                        creador: flow.get(\"direccion\")\n                    },\n                    listaP: {producto: listaCompra}\n                }\n            };\n        }\n    } else {\n        msg.statusCode = 403;\n        msg.payload = \"The shop is closed\";\n    }\n}\nelse {\n    msg.statusCode = 404;\n    msg.payload = \"Shop not found!\";\n}\n\nflow.set(\"shopDict\", shopDict);\n\nreturn msg;","outputs":1,"noerr":0,"x":1624,"y":654,"wires":[["b6fa1435.f8d1a"]]},{"id":"ad5420d1.caddb","type":"function","z":"807487aa.61868","name":"CT4","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1624,"y":734,"wires":[["b6fa1435.f8d1a"]]},{"id":"9ad7c557.1c4338","type":"function","z":"807487aa.61868","name":"CT6","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1624,"y":814,"wires":[["b6fa1435.f8d1a"]]},{"id":"692716aa.20a4e8","type":"function","z":"807487aa.61868","name":"MT1","func":"var Shop = flow.get(\"Shop\");\nvar shopDict = flow.get(\"shopDict\");\n\nfunction randRange(min, max)\n{\n    return Math.floor(Math.random() * (max - min + 1) + min);\n}\n\nvar idTienda = msg.payload.MT1.receptor;\n\nif (shopDict[idTienda] === undefined) {\n    var forum = randRange(3, 5);\n    var listaP = msg.payload.MT1.listaP.producto;\n    var d = new Date();\n    \n    shopDict[idTienda] = new Shop(forum, listaP);\n    flow.set(\"shopDict\", shopDict);\n    \n    msg.payload = {\n        TM2: {\n            emisor: idTienda,\n            receptor: msg.payload.MT1.emisor,\n            time: {\n                timestamp: d.getTime(),\n                creador: flow.get(\"direccion\")\n            }\n        }\n    };\n}\nelse {\n    msg.statusCode = 422;\n    msg.payload = \"The shop already exists\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1624,"y":894,"wires":[["b6fa1435.f8d1a"]]},{"id":"21822a70.1c10c6","type":"function","z":"807487aa.61868","name":"MT3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1624,"y":974,"wires":[["b6fa1435.f8d1a"]]},{"id":"2a76775b.3c4388","type":"function","z":"807487aa.61868","name":"MT5","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1624,"y":1054,"wires":[["b6fa1435.f8d1a"]]},{"id":"b6fa1435.f8d1a","type":"xml","z":"807487aa.61868","name":"WriteXMLResponse","attr":"","chr":"","x":1934,"y":854,"wires":[["1b19cf15.4e4c91","47606191.e53338"]]},{"id":"7e80b04e.2aa9d8","type":"function","z":"85ae90a6.827ac8","name":"msg.url = \"create\";","func":"msg.url = \"create\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":80,"wires":[["c43da950.f760f8"]]},{"id":"487a2606.1ccc9","type":"http in","z":"85ae90a6.827ac8","name":"","url":"/create","method":"get","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["7e80b04e.2aa9d8"]]},{"id":"1012afc8.cd9ac8","type":"comment","z":"85ae90a6.827ac8","name":"Agent Creation Form","info":"","x":370,"y":140,"wires":[]},{"id":"c43da950.f760f8","type":"template","z":"85ae90a6.827ac8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","output":"str","x":380,"y":180,"wires":[["d8742f0e.845a88"]]},{"id":"d8742f0e.845a88","type":"template","z":"85ae90a6.827ac8","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\n.formulario{\n    width: 40%;\n}\n\nh1{\n    font-family:Monospace;\n    color:red;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    text-align:center;\n    top:0;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    margin: auto;\n}","output":"str","x":540,"y":180,"wires":[["dad94973.4e277"]]},{"id":"dad94973.4e277","type":"template","z":"85ae90a6.827ac8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Agent Creation</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n<body>\n    <h1 style=\"text-align:center\">Create your agent.</h1>\n    \n<div class=\"formulario\">\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"name\">Name</label>\n    <input type=\"text\" id=\"name\" name=\"name\">\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div class=\"formulario\">\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","output":"str","x":680,"y":180,"wires":[["ab0edc27.643d48"]]},{"id":"ab0edc27.643d48","type":"http response","z":"85ae90a6.827ac8","name":"","statusCode":"","headers":{},"x":820,"y":180,"wires":[]},{"id":"65dc0cb.39ddbf4","type":"http in","z":"85ae90a6.827ac8","name":"","url":"/create","method":"post","upload":false,"swaggerDoc":"","x":110,"y":260,"wires":[["93f0e5af.71ba58"]]},{"id":"36890cb8.de657c","type":"function","z":"85ae90a6.827ac8","name":"return msg.payload to client","func":"msg.payload = 'The following agent was submitted: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":300,"wires":[["b824df5a.8d5bc8"]]},{"id":"b824df5a.8d5bc8","type":"http response","z":"85ae90a6.827ac8","name":"","x":790,"y":320,"wires":[]},{"id":"93f0e5af.71ba58","type":"function","z":"85ae90a6.827ac8","name":"Create Agent","func":"addAgent = flow.get(\"addAgent\");\n\naddAgent(msg.payload.name)\n\nmsg.payload = \"Done!\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["36890cb8.de657c"]]},{"id":"ab406d6d.6ef82","type":"http in","z":"85ae90a6.827ac8","name":"","url":"/migrate","method":"get","upload":false,"swaggerDoc":"","x":110,"y":400,"wires":[["5681675e.94c94"]]},{"id":"c9795888.082178","type":"http response","z":"85ae90a6.827ac8","name":"","x":970,"y":780,"wires":[]},{"id":"fb47fe95.d0db","type":"template","z":"85ae90a6.827ac8","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\nh1{\n    font-family:Monospace;\n    color:red;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\n.formulario{\n    width: 40%;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    text-align:center;\n    top:0;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    margin: auto;\n}","output":"str","x":530,"y":500,"wires":[["b0e20d99.64a6e"]]},{"id":"feb4c0cb.52ac9","type":"template","z":"85ae90a6.827ac8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n    //var agentDict = JSON.parse(ajson)\n    var drAgent = document.getElementById('agent');\n    for (var key in agentDict)\n    {\n        if (agentDict.hasOwnProperty(key)) {           \n            var opt = document.createElement('option');\n            opt.innerHtml = key;\n            opt.textContent = agentDict[key].id + ': ' + agentDict[key].name;\n            opt.value = key;\n            drAgent.appendChild(opt);\n        }\n    }\n});","output":"str","x":350,"y":500,"wires":[["fb47fe95.d0db"]]},{"id":"90c26deb.0e9ef","type":"http response","z":"85ae90a6.827ac8","name":"","x":1010,"y":500,"wires":[]},{"id":"102cd82d.47e9a","type":"template","z":"85ae90a6.827ac8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Migration</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h1 style=\"text-align:center\">Now it's time to send your agent to another location.</h1>\n\n<div class=\"formulario\">\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"dest\">Destination</label>\n    <input type=\"text\" id=\"dest\" name=\"destination\">\n\n    <!--<label for=\"id\">Agent Identifier</label>\n    <input type=\"text\" id=\"id\" name=\"id\">-->\n\n    <label for=\"agent\">Agent</label>\n    <select id=\"agent\" name=\"agent\"></select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div class=\"formulario\">\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script type=\"text/javascript\">\n    var agentDict = {{{payload.agdict}}};\n    {{{payload.script}}}\n</script>","output":"str","x":850,"y":500,"wires":[["90c26deb.0e9ef"]]},{"id":"8db8dbe0.c0e47","type":"comment","z":"85ae90a6.827ac8","name":"Migrate Form","info":"","x":310,"y":460,"wires":[]},{"id":"5681675e.94c94","type":"function","z":"85ae90a6.827ac8","name":"msg.url = \"migrate\";","func":"msg.url = \"migrate\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":400,"wires":[["feb4c0cb.52ac9"]]},{"id":"b943725c.6c50f","type":"http in","z":"85ae90a6.827ac8","name":"","url":"/migrate","method":"post","upload":false,"swaggerDoc":"","x":150,"y":660,"wires":[["382b4587.392b12"]]},{"id":"382b4587.392b12","type":"function","z":"85ae90a6.827ac8","name":"Search Agent","func":"var dirTable = flow.get(\"dirTable\");\nvar hostname = flow.get(\"hostname\");\nvar port = flow.get(\"port\");\nif (!dirTable.hasOwnProperty(msg.payload.agent)\n|| dirTable[msg.payload.agent][\"hostname\"] !== hostname\n|| dirTable[msg.payload.agent][\"port\"] !== port)\n{\n    msg.payload = \"The Agent is not in this host!\";\n    return msg;\n}\n\nvar agentDict = flow.get(\"agentDict\");\n\nvar ag = agentDict[msg.payload.agent];\n\nflow.set(\"removeId\", msg.payload.agent)\n\nmsg.url = msg.payload[\"destination\"].concat('/receive')\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/xml';\nmsg.payload = ag\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":660,"wires":[["54ac98dd.de9728"]]},{"id":"d4c57529.61db78","type":"function","z":"85ae90a6.827ac8","name":"return msg.payload to client","func":"msg.payload = 'The following agent was submitted: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":660,"wires":[["c9795888.082178"]]},{"id":"4f37bcaa.8ec40c","type":"http request","z":"85ae90a6.827ac8","name":"","method":"POST","ret":"txt","url":"","tls":"","x":490,"y":780,"wires":[["918533c2.9e3bd8"]]},{"id":"5485627.b5c501c","type":"xml","z":"85ae90a6.827ac8","name":"","attr":"","chr":"","x":310,"y":780,"wires":[["4f37bcaa.8ec40c"]]},{"id":"918533c2.9e3bd8","type":"function","z":"85ae90a6.827ac8","name":"Delete Agent","func":"var remAgent = flow.get(\"remAgent\");\nvar id = flow.get(\"removeId\");\nvar dirTable = flow.get(\"dirTable\");\n\nremAgent(id);\nvar hp = msg.url.split(\"/\")[0].split(\":\")\ndirTable[id] = {\"hostname\": hp[0], \"port\": hp[1]}\n\nflow.set(\"removeId\", undefined);\nflow.set(\"dirTable\", dirTable);\n\nmsg.payload = \"Done!\"\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":780,"wires":[["d4c57529.61db78"]]},{"id":"8fdaf49f.9dd528","type":"http in","z":"85ae90a6.827ac8","name":"","url":"/receive","method":"post","upload":false,"swaggerDoc":"","x":150,"y":900,"wires":[["fd3176b6.43d6e8"]]},{"id":"1d2a7908.75898f","type":"function","z":"85ae90a6.827ac8","name":"Build Agent","func":"var Agent = flow.get(\"Agent\");\nvar ag;\nvar aux;\n\nfor (var key in msg.payload)\n{\n    if (msg.payload.hasOwnProperty(key)) {           \n        aux = msg.payload[key];\n        ag = new Agent(aux['id'][0], aux['name'][0])\n    }\n    \n}\n\nmsg.payload = ag\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":900,"wires":[["552767b0.9f8f3"]]},{"id":"fd3176b6.43d6e8","type":"xml","z":"85ae90a6.827ac8","name":"","attr":"","chr":"","x":330,"y":900,"wires":[["1d2a7908.75898f"]]},{"id":"552767b0.9f8f3","type":"function","z":"85ae90a6.827ac8","name":"Add Agent","func":"//var addAgent = flow.get(\"addAgent\");\nvar agentDict = flow.get(\"agentDict\");\nvar dirTable = flow.get(\"dirTable\");\nvar hostname = flow.get(\"hostname\");\nvar port = flow.get(\"port\");\n\nagentDict[msg.payload.id] = msg.payload;\ndirTable[msg.payload.id] = {\"hostname\": hostname, \"port\": port}\n//addAgent(msg.payload)\n\nflow.set(\"agentDict\", agentDict);\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":960,"wires":[["3405ee0e.d070b2","76f6d934.7e8f2"]]},{"id":"3405ee0e.d070b2","type":"http response","z":"85ae90a6.827ac8","name":"","x":890,"y":1060,"wires":[]},{"id":"76f6d934.7e8f2","type":"json","z":"85ae90a6.827ac8","name":"","pretty":false,"x":835,"y":903.3333333333333,"wires":[["4101afba.9457a"]]},{"id":"4101afba.9457a","type":"debug","z":"85ae90a6.827ac8","name":"","active":false,"console":"false","complete":"false","x":983.8888888888887,"y":903.3333333333333,"wires":[]},{"id":"b0e20d99.64a6e","type":"function","z":"85ae90a6.827ac8","name":"","func":"var agentDict = flow.get('agentDict');\n\nmsg.payload.agdict = JSON.stringify(agentDict)\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":500,"wires":[["102cd82d.47e9a"]]},{"id":"54ac98dd.de9728","type":"switch","z":"85ae90a6.827ac8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"The Agent is not in this host!","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":531,"y":619,"wires":[["d4c57529.61db78"],["5485627.b5c501c"]]},{"id":"70fc7d39.ed1ce4","type":"http in","z":"85ae90a6.827ac8","name":"","url":"/send","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1120,"wires":[["43075cfe.28df7c"]]},{"id":"9fbadee.867caa","type":"template","z":"85ae90a6.827ac8","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\nh1{\n    font-family:Monospace;\n    color:red;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\n.formulario{\n    width: 40%;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    text-align:center;\n    top:0;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    margin: auto;\n}","output":"str","x":570,"y":1220,"wires":[["59b7b6fe.88ad1"]]},{"id":"fbc185d8.f3b208","type":"template","z":"85ae90a6.827ac8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n    //var agentDict = JSON.parse(ajson)\n    var drAgent = document.getElementById('agent');\n    for (var key in agentDict)\n    {\n        if (agentDict.hasOwnProperty(key)) {           \n            var opt = document.createElement('option');\n            opt.innerHtml = key;\n            opt.textContent = agentDict[key].id + ': ' + agentDict[key].name;\n            opt.value = key;\n            drAgent.appendChild(opt);\n        }\n    }\n    \n    var drDest = document.getElementById('dest');\n    for (var key in dirTable)\n    {\n        if (dirTable.hasOwnProperty(key)) {           \n            opt = document.createElement('option');\n            opt.innerHtml = key;\n            opt.textContent = key;\n            opt.value = key;\n            drDest.appendChild(opt);\n        }\n    }\n});","output":"str","x":390,"y":1220,"wires":[["9fbadee.867caa"]]},{"id":"f8f55104.fba38","type":"http response","z":"85ae90a6.827ac8","name":"","x":1050,"y":1220,"wires":[]},{"id":"1f45ae7c.dff902","type":"template","z":"85ae90a6.827ac8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Send Message</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h1 style=\"text-align:center\">Now it's time to send messages between agents!</h1>\n\n<div class=\"formulario\">\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"agent\">SenderId</label>\n    <select id=\"agent\" name=\"agent\"></select>\n    \n    <label for=\"dest\">DestId</label>\n    <select id=\"dest\" name=\"destination\"></select>\n    \n    <label for=\"mess\">Message</label>\n    <input type=\"text\" id=\"mess\" name=\"message\">\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div class=\"formulario\">\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script type=\"text/javascript\">\n    var agentDict = {{{payload.agdict}}};\n    var dirTable = {{{payload.dirtab}}};\n    {{{payload.script}}}\n</script>","output":"str","x":890,"y":1220,"wires":[["f8f55104.fba38"]]},{"id":"a2d72575.89f8c","type":"comment","z":"85ae90a6.827ac8","name":"Migrate Form","info":"","x":350,"y":1180,"wires":[]},{"id":"43075cfe.28df7c","type":"function","z":"85ae90a6.827ac8","name":"msg.url = \"send\";","func":"msg.url = \"send\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1120,"wires":[["fbc185d8.f3b208"]]},{"id":"59b7b6fe.88ad1","type":"function","z":"85ae90a6.827ac8","name":"","func":"var agentDict = flow.get('agentDict');\nvar dirTable = flow.get('dirTable');\n\nmsg.payload.agdict = JSON.stringify(agentDict)\nmsg.payload.dirtab = JSON.stringify(dirTable)\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1220,"wires":[["1f45ae7c.dff902"]]},{"id":"6ee64c3a.850e6c","type":"http response","z":"85ae90a6.827ac8","name":"","x":1070,"y":1360,"wires":[]},{"id":"fe5d703d.e363f8","type":"http in","z":"85ae90a6.827ac8","name":"","url":"/send","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1380,"wires":[["72f2e058.c75a38"]]},{"id":"72f2e058.c75a38","type":"function","z":"85ae90a6.827ac8","name":"Search Agent","func":"var dirTable = flow.get(\"dirTable\");\nvar hostname = flow.get(\"hostname\");\nvar port = flow.get(\"port\");\nif (!dirTable.hasOwnProperty(msg.payload.agent)\n|| dirTable[msg.payload.agent][\"hostname\"] !== hostname\n|| dirTable[msg.payload.agent][\"port\"] !== port)\n{\n    msg.payload = \"The Agent is not in this host!\";\n    return msg;\n}\n\nvar agentDict = flow.get(\"agentDict\");\n\nvar ag = agentDict[msg.payload.agent];\nvar result = ag.sendMessage(msg.payload.message, msg.payload.destination);\n\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1380,"wires":[["1651b83d.0a2c08"]]},{"id":"51a99d80.9bf76c","type":"function","z":"85ae90a6.827ac8","name":"Success","func":"msg.payload = 'Noice! <br> <br> <img src=\"https://media.tenor.com/images/b67da9f2ab503e38e07167d48ba0905f/tenor.gif\"></img>';\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1420,"wires":[["6ee64c3a.850e6c"]]},{"id":"a9b0a0bc.1140c","type":"http in","z":"85ae90a6.827ac8","name":"","url":"/rmess","method":"post","upload":false,"swaggerDoc":"","x":150,"y":1620,"wires":[["ab74516a.2ba49"]]},{"id":"1651b83d.0a2c08","type":"switch","z":"85ae90a6.827ac8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"The Agent is not in this host!","vt":"str"},{"t":"false"},{"t":"true"},{"t":"else"}],"checkall":"true","outputs":4,"x":410,"y":1480,"wires":[["d2ff1e82.5ea45"],["d2ff1e82.5ea45"],["51a99d80.9bf76c"],["9a1aada.73a95d"]]},{"id":"9a1aada.73a95d","type":"function","z":"85ae90a6.827ac8","name":"Send Message","func":"msg.url = msg.payload[0]['hostname'].concat(':').concat(msg.payload[0]['port']).concat('/rmess')\nmsg.payload = msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1520,"wires":[["2daa6d43.7453da"]]},{"id":"d2ff1e82.5ea45","type":"function","z":"85ae90a6.827ac8","name":"Failure (Local)","func":"msg.payload = 'ERROR!';\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1360,"wires":[["6ee64c3a.850e6c"]]},{"id":"c3213d20.b09098","type":"http request","z":"85ae90a6.827ac8","name":"","method":"POST","ret":"txt","url":"","tls":"","x":910,"y":1520,"wires":[["51a99d80.9bf76c"]]},{"id":"2daa6d43.7453da","type":"xml","z":"85ae90a6.827ac8","name":"","attr":"","chr":"","x":750,"y":1520,"wires":[["c3213d20.b09098"]]},{"id":"7ae784bd.dd2654","type":"function","z":"85ae90a6.827ac8","name":"Search Agent","func":"var dirTable = flow.get(\"dirTable\");\nvar hostname = flow.get(\"hostname\");\nvar port = flow.get(\"port\");\n\nvar aux = msg.payload['root'];\nif (!dirTable.hasOwnProperty(aux.destId)\n|| dirTable[aux.destId][\"hostname\"] !== hostname\n|| dirTable[aux.destId][\"port\"] !== port)\n{\n    msg.payload = aux;\n    return msg;\n}\n\nvar agentDict = flow.get(\"agentDict\");\n\nvar ag = agentDict[aux.destId];\nag.receiveMessage(aux.message[0], aux.senderId[0], aux.timestamp[0]);\n\nmsg.payload = \"Noice\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1620,"wires":[["cc8ef119.a66168"]]},{"id":"ab74516a.2ba49","type":"xml","z":"85ae90a6.827ac8","name":"","attr":"","chr":"","x":330,"y":1620,"wires":[["7ae784bd.dd2654"]]},{"id":"cc8ef119.a66168","type":"http response","z":"85ae90a6.827ac8","name":"","statusCode":"","headers":{},"x":710,"y":1620,"wires":[]},{"id":"e5ee3fe2.f7aef","type":"http in","z":"85ae90a6.827ac8","name":"","url":"/delete","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1720,"wires":[["f583831.c8178"]]},{"id":"85e420d5.15acd8","type":"template","z":"85ae90a6.827ac8","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\nh1{\n    font-family:Monospace;\n    color:red;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\n.formulario{\n    width: 40%;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    text-align:center;\n    top:0;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    margin: auto;\n}","output":"str","x":550,"y":1820,"wires":[["3d7ebdae.d141ca"]]},{"id":"b182af92.bb39b8","type":"template","z":"85ae90a6.827ac8","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n    //var agentDict = JSON.parse(ajson)\n    var drAgent = document.getElementById('agent');\n    for (var key in agentDict)\n    {\n        if (agentDict.hasOwnProperty(key)) {           \n            var opt = document.createElement('option');\n            opt.innerHtml = key;\n            opt.textContent = agentDict[key].id + ': ' + agentDict[key].name;\n            opt.value = key;\n            drAgent.appendChild(opt);\n        }\n    }\n});","output":"str","x":370,"y":1820,"wires":[["85e420d5.15acd8"]]},{"id":"e2b8f8a0.b70208","type":"http response","z":"85ae90a6.827ac8","name":"","statusCode":"","headers":{},"x":1030,"y":1820,"wires":[]},{"id":"e45cdb82.c904d","type":"template","z":"85ae90a6.827ac8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Delete agent</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h1 style=\"text-align:center\">Now it's time to kill an agent!</h1>\n\n<div class=\"formulario\">\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    \n    <label for=\"agent\">Agent</label>\n    <select id=\"agent\" name=\"agent\"></select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div class=\"formulario\">\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script type=\"text/javascript\">\n    var agentDict = {{{payload.agdict}}};\n    {{{payload.script}}}\n</script>","output":"str","x":870,"y":1820,"wires":[["e2b8f8a0.b70208"]]},{"id":"333558b8.f533","type":"comment","z":"85ae90a6.827ac8","name":"Migrate Form","info":"","x":330,"y":1780,"wires":[]},{"id":"f583831.c8178","type":"function","z":"85ae90a6.827ac8","name":"msg.url = \"delete\";","func":"msg.url = \"delete\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":1720,"wires":[["b182af92.bb39b8"]]},{"id":"3d7ebdae.d141ca","type":"function","z":"85ae90a6.827ac8","name":"","func":"var agentDict = flow.get('agentDict');\n\nmsg.payload.agdict = JSON.stringify(agentDict)\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1820,"wires":[["e45cdb82.c904d"]]},{"id":"14bceba0.e9aca4","type":"http response","z":"85ae90a6.827ac8","name":"","x":530,"y":1960,"wires":[]},{"id":"ef81ddbe.5fb0e8","type":"http in","z":"85ae90a6.827ac8","name":"","url":"/delete","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1960,"wires":[["2af72139.21a3a6"]]},{"id":"2af72139.21a3a6","type":"function","z":"85ae90a6.827ac8","name":"Search Agent","func":"var dirTable = flow.get(\"dirTable\");\nvar hostname = flow.get(\"hostname\");\nvar port = flow.get(\"port\");\nif (!dirTable.hasOwnProperty(msg.payload.agent)\n|| dirTable[msg.payload.agent][\"hostname\"] !== hostname\n|| dirTable[msg.payload.agent][\"port\"] !== port)\n{\n    msg.payload = \"The Agent is not in this host!\";\n    return msg;\n}\n\nvar agentDict = flow.get(\"agentDict\");\n\ndelete dirTable[msg.payload.agent];\ndelete agentDict[msg.payload.agent];\n\nflow.set(\"agentDict\", agentDict);\nflow.set(\"dirTable\", dirTable);\n\nmsg.payload = 'Done <br> <br> <img src=\"http://www.fahrenheitmagazine.com/wp-content/uploads/2015/07/padrino.gif\"></img>';\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1960,"wires":[["14bceba0.e9aca4"]]},{"id":"88b62d78.6d0d28","type":"http in","z":"85ae90a6.827ac8","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":140,"y":2060,"wires":[["140cd89.87f8ca7"]]},{"id":"140cd89.87f8ca7","type":"template","z":"85ae90a6.827ac8","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\nh1{\n    font-family:Monospace;\n    color:red;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\n.formulario{\n    width: 40%;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    text-align:center;\n    top:0;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    margin: auto;\n}","output":"str","x":310,"y":2060,"wires":[["be2149bc.ffac2"]]},{"id":"be2149bc.ffac2","type":"template","z":"85ae90a6.827ac8","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Index</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h1 style=\"text-align:center\">Choose an option or die!</h1>\n\n<a href=\"http://clanjhoo.com:1880/create\">Create Agent.</a>\n<div class=\"formulario\">\n  \n</div>\n\n</body>\n</html>\n<script type=\"text/javascript\">\n</script>","output":"str","x":470,"y":2060,"wires":[["8395ef96.c6c0c8"]]},{"id":"8395ef96.c6c0c8","type":"http response","z":"85ae90a6.827ac8","name":"","statusCode":"","headers":{},"x":630,"y":2060,"wires":[]},{"id":"9653cd42.f0f088","type":"inject","z":"807487aa.61868","name":"TestBad","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125,"y":1678,"wires":[["1e91576b.8b9e09"]]},{"id":"1e91576b.8b9e09","type":"function","z":"807487aa.61868","name":"CreateBad","func":"var mes = { Cd1: {\n    emisor: 'emi',\n    receptor: 'rece'}};\n\nmsg.payload = \"<?ada ////////> <ada>ad></ad>\";\nreturn msg;","outputs":1,"noerr":0,"x":149,"y":1785,"wires":[["f3b876d4.a41328"]]},{"id":"f3b876d4.a41328","type":"http request","z":"807487aa.61868","name":"SendBAD","method":"POST","ret":"txt","url":"localhost:1880","tls":"","x":580,"y":1787,"wires":[["f67a2f8.9ac0dd"]]},{"id":"f67a2f8.9ac0dd","type":"debug","z":"807487aa.61868","name":"Print Response","active":true,"console":"false","complete":"true","x":827,"y":1784,"wires":[]},{"id":"4468dc07.6fdc04","type":"catch","z":"807487aa.61868","name":"NotXML","scope":["ee8c787a.70b45"],"x":1398,"y":1116,"wires":[["b911ed21.132308"]]},{"id":"617e5b76.79dfbc","type":"xml-validate","z":"807487aa.61868","name":"ValidateCT1","filename":".node-red/xsd-schemas/CliTie/CT1.xsd","x":442,"y":674,"wires":[["41adc3d4.3bdda4"],["e009a306.97f8b"],["18bfcd9c.8921fa"]]},{"id":"fdc534b9.6f3e68","type":"xml-validate","z":"807487aa.61868","name":"ValidateCT6","filename":".node-red/xsd-schemas/CliTie/CT6.xsd","x":442,"y":914,"wires":[["2fc0aa8e.ef8d4e"],["c4985c91.995d58"],["5d6ee8f4.88f01"]]},{"id":"e009a306.97f8b","type":"xml-validate","z":"807487aa.61868","name":"ValidateCT4","filename":".node-red/xsd-schemas/CliTie/CT4.xsd","x":442,"y":794,"wires":[["2037b4b4.a8f1ac"],["fdc534b9.6f3e68"],["a797cc34.a907b8"]]},{"id":"c4985c91.995d58","type":"xml-validate","z":"807487aa.61868","name":"ValidateMT1","filename":".node-red/xsd-schemas/MonTie/MT1.xsd","x":442,"y":1034,"wires":[["536953b9.50fa1c"],["64fd77b1.28c91"],["77009d0.04329e4"]]},{"id":"64fd77b1.28c91","type":"xml-validate","z":"807487aa.61868","name":"ValidateMT3","filename":".node-red/xsd-schemas/MonTie/MT3.xsd","x":442,"y":1154,"wires":[["77f896aa.14c48"],["d90234f8.e5d82"],["4122748f.48581c"]]},{"id":"d90234f8.e5d82","type":"xml-validate","z":"807487aa.61868","name":"ValidateMT5","filename":".node-red/xsd-schemas/MonTie/MT5.xsd","x":442,"y":1274,"wires":[["fc146bf4.6b28"],["8c831647.bcd898"],["29edcf47.67f848"]]},{"id":"49ffb8f6.0c2018","type":"debug","z":"807487aa.61868","name":"ViewObject","active":true,"console":"false","complete":"payload","x":1304,"y":714,"wires":[]},{"id":"41adc3d4.3bdda4","type":"function","z":"807487aa.61868","name":"SetCT1Type","func":"msg.type = \"CT1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":682,"y":774,"wires":[["4a413d98.60a9d4"]]},{"id":"2037b4b4.a8f1ac","type":"function","z":"807487aa.61868","name":"SetCT4Type","func":"msg.type = \"CT4\"\n\nreturn msg;","outputs":1,"noerr":0,"x":682,"y":854,"wires":[["4a413d98.60a9d4"]]},{"id":"2fc0aa8e.ef8d4e","type":"function","z":"807487aa.61868","name":"SetCT6Type","func":"msg.type = \"CT6\"\n\nreturn msg;","outputs":1,"noerr":0,"x":682,"y":934,"wires":[["4a413d98.60a9d4"]]},{"id":"536953b9.50fa1c","type":"function","z":"807487aa.61868","name":"SetMT1Type","func":"msg.type = \"MT1\"\n\nreturn msg;","outputs":1,"noerr":0,"x":682,"y":1014,"wires":[["4a413d98.60a9d4"]]},{"id":"77f896aa.14c48","type":"function","z":"807487aa.61868","name":"SetMT3Type","func":"msg.type = \"MT3\"\n\nreturn msg;","outputs":1,"noerr":0,"x":682,"y":1094,"wires":[["4a413d98.60a9d4"]]},{"id":"fc146bf4.6b28","type":"function","z":"807487aa.61868","name":"SetMT5Type","func":"msg.type = \"MT5\"\n\nreturn msg;","outputs":1,"noerr":0,"x":682,"y":1174,"wires":[["4a413d98.60a9d4"]]},{"id":"ee8c787a.70b45","type":"xml","z":"807487aa.61868","name":"UnknownXML","attr":"","chr":"","x":1019.1429443359375,"y":1276.857177734375,"wires":[["24c6a532.25e9ca"]]},{"id":"878b2c80.8b863","type":"comment","z":"807487aa.61868","name":"Unknown Message","info":"Unexpected type of message received.\nWe should try to guess the type or check whether\nit's an XML or not.","x":647.7142944335938,"y":1272.5714721679688,"wires":[]},{"id":"24c6a532.25e9ca","type":"function","z":"807487aa.61868","name":"Get root tag","func":"msg.type = Object.keys(msg.payload)[0];\nvar validArr = [\"CT1\", \"CT4\", \"CT6\",\n                \"MT1\", \"MT3\", \"MT5\"];\nmsg.isValid = (validArr.indexOf(msg.type) > -1);\n\nreturn msg;","outputs":1,"noerr":0,"x":1232,"y":1276.857177734375,"wires":[["89b0ff51.d03fa8"]]},{"id":"b911ed21.132308","type":"function","z":"807487aa.61868","name":"NotXMLError","func":"msg.payload = \"The received body wasn't in XML format\"\nmsg.statusCode = 415\n\nreturn msg;","outputs":1,"noerr":0,"x":1878,"y":1116,"wires":[["1b19cf15.4e4c91"]]},{"id":"89b0ff51.d03fa8","type":"switch","z":"807487aa.61868","name":"BadType","property":"isValid","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1408,"y":1276,"wires":[["eb1fff1a.9c40f"],["c4bae27e.1f3d28"]]},{"id":"eb1fff1a.9c40f","type":"function","z":"807487aa.61868","name":"BadFormat","func":"msg.statusCode = 400\nmsg.payload = \"Bad formatted \" + msg.type\n\nreturn msg;","outputs":1,"noerr":0,"x":1638,"y":1196,"wires":[["1b19cf15.4e4c91"]]},{"id":"c4bae27e.1f3d28","type":"function","z":"807487aa.61868","name":"UnknownType","func":"msg.statusCode = 418;\n//msg.topic = \"I'm a teapot\"\nmsg.payload = \"Any attempt to brew coffee \" + \n            \"with a teapot should result in \" + \n            \"the error code \" + '\"' + \"418 I'm\" +\n            \" a teapot\" + '\". The resulting ' +\n            \"entity body MAY be short and stout.\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1688,"y":1281.71435546875,"wires":[["1b19cf15.4e4c91"]]},{"id":"119f702f.fd345","type":"http in","z":"807487aa.61868","name":"Tea","url":"/tea","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1983,"wires":[["87f1ab94.2b61b8"]]},{"id":"c26432a6.533b98","type":"http response","z":"807487aa.61868","name":"","statusCode":"","headers":{},"x":533,"y":1982,"wires":[]},{"id":"87f1ab94.2b61b8","type":"function","z":"807487aa.61868","name":"","func":"msg.statusCode = 418;\nmsg.payload = \"ERROR 418: I'm a teapot.\"\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":1990,"wires":[["c26432a6.533b98","19936f08.eec801"]]},{"id":"19936f08.eec801","type":"debug","z":"807487aa.61868","name":"","active":true,"console":"false","complete":"false","x":419,"y":1901,"wires":[]},{"id":"54c45fad.42821","type":"debug","z":"807487aa.61868","name":"RejectTime","active":false,"console":"false","complete":"reject","x":909.142822265625,"y":465.8572082519531,"wires":[]},{"id":"902da93.2cae9d8","type":"function","z":"807487aa.61868","name":"CheckRecentFails","func":"msg.sender = msg.req.headers.host + '&' + msg.req.ip;\nvar lmesTS = flow.get(\"lmesTS\");\nmsg.reject = 0;\nif (lmesTS[msg.sender] !== undefined) {\n    var d = new Date();\n    msg.reject = lmesTS[msg.sender] - d.getTime();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":688.5714721679688,"y":553.0000610351562,"wires":[["54c45fad.42821","124b5d22.420b9b"]]},{"id":"18bfcd9c.8921fa","type":"debug","z":"807487aa.61868","name":"CT1ValError","active":false,"console":"false","complete":"payload","x":227.14288330078125,"y":676.28564453125,"wires":[]},{"id":"a797cc34.a907b8","type":"debug","z":"807487aa.61868","name":"CT4ValError","active":false,"console":"false","complete":"payload","x":221.4285888671875,"y":795.7142333984375,"wires":[]},{"id":"5d6ee8f4.88f01","type":"debug","z":"807487aa.61868","name":"CT6ValError","active":false,"console":"false","complete":"payload","x":220.00003051757812,"y":912.857177734375,"wires":[]},{"id":"77009d0.04329e4","type":"debug","z":"807487aa.61868","name":"MT1ValError","active":false,"console":"false","complete":"payload","x":220.00003051757812,"y":1028.5712890625,"wires":[]},{"id":"4122748f.48581c","type":"debug","z":"807487aa.61868","name":"MT3ValError","active":false,"console":"false","complete":"payload","x":218.57144165039062,"y":1149.9998779296875,"wires":[]},{"id":"29edcf47.67f848","type":"debug","z":"807487aa.61868","name":"MT5ValError","active":false,"console":"false","complete":"payload","x":221.4285888671875,"y":1272.8570556640625,"wires":[]},{"id":"124b5d22.420b9b","type":"switch","z":"807487aa.61868","name":"MustReject?","property":"reject","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":928.5714111328125,"y":551.4285888671875,"wires":[["3a282b6.9f3fe54"],["617e5b76.79dfbc","cbabe595.d97f08"]]},{"id":"3a282b6.9f3fe54","type":"function","z":"807487aa.61868","name":"TooManyRequests","func":"msg.payload = \"You must wait \" + msg.reject/1000 +\n              \" seconds before the next attempt\"\nmsg.statusCode = 429;\nif (msg.headers === undefined) {\n    msg.headers = {};\n}\nmsg.headers['Retry-After'] = msg.reject;\n\nreturn msg;","outputs":1,"noerr":0,"x":1981.428466796875,"y":538.5714111328125,"wires":[["1b19cf15.4e4c91"]]},{"id":"8c831647.bcd898","type":"function","z":"807487aa.61868","name":"SetLMesTS","func":"var lmesTS = flow.get(\"lmesTS\");\nvar d = new Date();\nlmesTS[msg.sender] = d.getTime() + 10 * 1000;\nflow.set(\"lmesTS\", lmesTS);\n\nreturn msg;","outputs":1,"noerr":0,"x":841.4287109375,"y":1275.7142333984375,"wires":[["ee8c787a.70b45"]]},{"id":"c04a4b6b.5eb8e","type":"inject","z":"85ae90a6.827ac8","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":1088.571533203125,"y":117.14286041259766,"wires":[["e314900f.0c011"]]},{"id":"e314900f.0c011","type":"function","z":"85ae90a6.827ac8","name":"Init Container","func":"class Agent { //Agente genrico\n    constructor(id){\n        this.id = id;\n        this.messages = [];\n    }\n    \n    sendMessage(message, destId) { // Funcion para enviar un mensaje\n        var agentDict = flow.get(\"agentDict\");\n        if (agentDict.hasOwnProperty(destId)){\n            agentDict[destId].receiveMessage(message, this.id, Date.now());\n            return true;\n        }\n        else\n        {\n            var send = flow.get(\"send\");\n            return send(message, destId, this.id, Date.now());\n        }\n    }\n    receiveMessage(message, senderId, time) {\n        this.messages.push({'sender': senderId, 'timestamp': time, 'message': message});\n    }\n}\n\n// Los clientes deben tener identificador y la lista de tiendas en las que han estado\n// De las tiendas se tiene la ip o hostname y puerto si es necesario\nclass Client {\n    constructor(id,d_shops){\n        this.id = id;\n        this.d_shops = d_shops;\n    }\n}\n\n\nclass Shop extends Agent {\n    constructor(id,d_products){\n        super(id);\n        this.id = id;\n        this.types = \"js\"; // shop type to send and receive\n        this.products = {}; // Products dictionary inizalizer\n        this.forum = 5; // shop avalaible space for clients\n        this.currentState = \"OnService\"; // shop initial state\n        this.states = [\"Onservice\",\"Chaos\"];\n        this.clientesInto = []; // Client list\n        // Si tenemos un aforo tenemos que tener en cuenta QUE personas estan dentro?\n        // Sobrecarga de Constructores\n        \n        // iterate array \n        for(var prod in d_products){\n            this.products[prod[\"identifP\"]] ={\n                name:  prod[\"nombreP\"],\n                stock: prod[\"cantidadP\"]\n            };\n        }\n    }\n    \n    checkForum(){\n        var agentDict = flow.get(\"agentDict\");\n        if(Object.keys(agentDict).length > this.forum){\n            return false;\n        }\n        return true;\n    }\n    \n    // client petition to take some items\n    sellItems(clienteID,dict_products){\n        newlist = {};\n        if(checkForum()){\n            newlist = {};\n            // iterate client list\n            for(var prod in dict_products){\n                if (dict_product.hasOwnProperty(prod)) {\n                    if(this.products.hasOwnProperty(prod)){\n                        // we have enough units of product\n                        if(this.products[prod] >= dict_product[prod]){\n                            this.products[prod] = this.products[prod] - dict_product[prod];\n                            newlist.push({\n                                prod : this.products[prod] - dict_product[prod]\n                            });\n                        }\n                    \n                    }\n                }\n            }\n        }\n        return newlist;\n    }\n    \n    // Client do a petition to know other clients\n    clientsListPetition(clientID){\n        return clientesInto;\n    }\n    \n    sendstate(monitorID){\n        return this.currentState;\n    }\n    \n}\n\nclass TimeAgent extends Agent {\n    constructor(id) {\n        super(id);\n    }\n    getTime(){\n        var date = new Date();\n        // Hours part from the timestamp\n        var hours = date.getUTCHours();\n        // Minutes part from the timestamp\n        var minutes = \"0\" + date.getUTCMinutes();\n        // Seconds part from the timestamp\n        var seconds = \"0\" + date.getUTCSeconds();\n        \n        // Will display time in 10:30:23 format\n        var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n        \n        return formattedTime;\n    }\n    receiveMessage(message, senderId, time) {\n        super.receiveMessage (message, senderId, time);\n        super.sendMessage (this.getTime(), senderId);\n    }\n}\n\nfunction addAgent(name) { // Dar de alta un agente en el contenedor\n    var Agent = flow.get(\"Agent\");\n    var TimeAgent = flow.get(\"TimeAgent\");\n    var lastId = flow.get(\"lastId\");\n    var hostname = flow.get(\"hostname\");\n    var port = flow.get(\"port\");\n    var agentDict = flow.get(\"agentDict\");\n    var dirTable = flow.get(\"dirTable\");\n    \n    var time = Date.now().toString();\n    var newId = hostname.concat(\":\").concat(port).concat(\":\").concat(time).concat(\":\").concat(lastId.toString());\n    if (lastId === 0)\n    {\n        ag = new TimeAgent(newId, name);\n    }\n    else\n    {\n        ag = new Agent(newId, name);\n    }\n    lastId++;\n    agentDict[newId] = ag;\n    dirTable[newId] = {\"hostname\": hostname, \"port\": port}\n    \n    flow.set(\"lastId\", lastId);\n    flow.set(\"agentDict\", agentDict);\n    flow.set(\"dirTable\", dirTable);\n}\n\nfunction remAgent(id) {\n    var agentDict = flow.get(\"agentDict\");\n    \n    delete agentDict[id];\n    \n    flow.set(\"agentDict\", agentDict);\n}\n\nfunction send(message, destId, senderId, time)\n{\n    var dirTable = flow.get(\"dirTable\");\n    if (dirTable.hasOwnProperty(destId)){\n        return [dirTable[destId], {'message': message, 'destId': destId, 'senderId': senderId, 'timestamp': time}];\n    }\n    return false;\n}\n\n\nflow.set(\"Agent\", Agent);\nflow.set(\"TimeAgent\", TimeAgent);\nflow.set(\"addAgent\", addAgent);\nflow.set(\"remAgent\", remAgent);\nflow.set(\"send\", send);\nflow.set(\"agentDict\", {});\nflow.set(\"dirTable\", {});\nflow.set(\"lastId\", 0);\nflow.set(\"hostname\", \"practis.clanjhoo.com\");\nflow.set(\"port\", \"1880\");\nflow.set(\"Shop\",Shop);\nflow.set(\"ourShop\", new Shop());\nflow.set(\"lmesTS\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":1308.571533203125,"y":117.14286041259766,"wires":[["7bccc5ab.c4983c"]]},{"id":"ec97ae3b.80c77","type":"debug","z":"85ae90a6.827ac8","name":"","active":true,"console":"false","complete":"false","x":1688.571533203125,"y":337.14286041259766,"wires":[]},{"id":"2f499354.8b9d34","type":"inject","z":"85ae90a6.827ac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1098.571533203125,"y":337.14286041259766,"wires":[["6788f963.b9ad18"]]},{"id":"6788f963.b9ad18","type":"function","z":"85ae90a6.827ac8","name":"","func":"msg.payload = flow.get(\"agentDict\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1248.571533203125,"y":337.14286041259766,"wires":[["3526f7c7.6b7f58"]]},{"id":"e32201d7.e29f68","type":"comment","z":"85ae90a6.827ac8","name":"View Agents","info":"","x":1528.571533203125,"y":337.14286041259766,"wires":[]},{"id":"4b3ba009.4299f","type":"inject","z":"85ae90a6.827ac8","name":"AddAgent","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1098.571533203125,"y":177.14286041259766,"wires":[["7bccc5ab.c4983c"]]},{"id":"7bccc5ab.c4983c","type":"function","z":"85ae90a6.827ac8","name":"Init Container","func":"var ourShop = flow.get(\"ourShop\");\nvar addAgent = flow.get(\"addAgent\");\nvar lastId = flow.get(\"lastId\");\n\naddAgent('A' + lastId.toString());\naddAgent('A' + (lastId + 1).toString());\n\nreturn msg;","outputs":1,"noerr":0,"x":1308.571533203125,"y":177.14286041259766,"wires":[[]]},{"id":"3526f7c7.6b7f58","type":"json","z":"85ae90a6.827ac8","name":"","pretty":false,"x":1388.571533203125,"y":337.14286041259766,"wires":[["ec97ae3b.80c77"]]},{"id":"969a350b.9a86f8","type":"inject","z":"85ae90a6.827ac8","name":"Reset Container","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1118.571533203125,"y":257.14286041259766,"wires":[["8aad4550.b327f8"]]},{"id":"8aad4550.b327f8","type":"function","z":"85ae90a6.827ac8","name":"Reset Agents","func":"flow.set(\"agentDict\", {});\nflow.set(\"dirTable\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":1338.571533203125,"y":257.14286041259766,"wires":[[]]}]