flows_smaplra.json
[{"id":"e61c260d.1c787","type":"tab","label":"Flow 1"},{"id":"807487aa.61868","type":"tab","label":"Contenedor","disabled":false,"info":""},{"id":"492da878.144","type":"tab","label":"Flow 3"},{"id":"7d55cb03.a65684","type":"inject","z":"e61c260d.1c787","name":"","topic":"","payload":"container","payloadType":"global","repeat":"","crontab":"","once":false,"x":231.5,"y":155,"wires":[["34477a5d.5dc306"]]},{"id":"392f0757.97262","type":"debug","z":"e61c260d.1c787","name":"","active":false,"console":"false","complete":"payload","x":650,"y":160,"wires":[]},{"id":"34477a5d.5dc306","type":"function","z":"e61c260d.1c787","name":"InitContainer","func":"function Container(id, name) {\n    return {'id': id, 'name': name}\n}\n\nmsg.payload = Container(0, 'Pato')\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["2f4498f8.3905d8","cac00910.a8a9b8"]]},{"id":"2f4498f8.3905d8","type":"xml","z":"e61c260d.1c787","name":"","attr":"","chr":"","x":501.5,"y":194,"wires":[["392f0757.97262","c7638cbc.16615"]]},{"id":"c7638cbc.16615","type":"xml","z":"e61c260d.1c787","name":"","attr":"","chr":"","x":678.5,"y":260,"wires":[["df505b6c.25d8e","dffcaf28.520be"]]},{"id":"178eb72f.445879","type":"debug","z":"e61c260d.1c787","name":"","active":true,"console":"false","complete":"false","x":910,"y":300,"wires":[]},{"id":"85f785ff.2e2158","type":"http request","z":"e61c260d.1c787","name":"","method":"GET","ret":"txt","url":"","tls":"","x":430,"y":420,"wires":[["1d4468de.c6e6af"]]},{"id":"af7edfeb.c06e28","type":"inject","z":"e61c260d.1c787","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120.5,"y":376,"wires":[["4f1c6972.097d38"]]},{"id":"4f1c6972.097d38","type":"change","z":"e61c260d.1c787","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"www.google.es","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":206.5,"y":475,"wires":[["85f785ff.2e2158"]]},{"id":"1d4468de.c6e6af","type":"debug","z":"e61c260d.1c787","name":"","active":true,"console":"false","complete":"false","x":623.5,"y":438,"wires":[]},{"id":"df505b6c.25d8e","type":"function","z":"e61c260d.1c787","name":"","func":"function Container(id, name) {\n    return {'id': id, 'name': name}\n}\n\nvar container\nfor (var key in msg.payload)\n{\n    if (msg.payload.hasOwnProperty(key)) {           \n        ct = msg.payload[key];\n        container = Container(ct['id'][0], ct['name'][0])\n    }\n    \n}\n\n//container = Container(msg.payload['root']['id'][0], msg.payload['root']['name'][0])\n\nmsg.payload = container\nreturn msg;","outputs":1,"noerr":0,"x":754,"y":332,"wires":[["178eb72f.445879"]]},{"id":"1ec798de.b0bdbf","type":"debug","z":"e61c260d.1c787","name":"","active":false,"console":"false","complete":"false","x":990,"y":200,"wires":[]},{"id":"dffcaf28.520be","type":"function","z":"e61c260d.1c787","name":"","func":"msg.payload = msg.payload['root']\nreturn msg;","outputs":1,"noerr":0,"x":797,"y":214,"wires":[["1ec798de.b0bdbf"]]},{"id":"cac00910.a8a9b8","type":"debug","z":"e61c260d.1c787","name":"","active":false,"console":"false","complete":"false","x":603,"y":364,"wires":[]},{"id":"ffbe4a3f.cedf3","type":"http in","z":"e61c260d.1c787","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":160,"y":620,"wires":[["fea7fdb8.4b052","d5b01b7d.d313"]]},{"id":"fea7fdb8.4b052","type":"debug","z":"e61c260d.1c787","name":"","active":true,"console":"false","complete":"false","x":400,"y":581,"wires":[]},{"id":"d5b01b7d.d313","type":"http response","z":"e61c260d.1c787","name":"","statusCode":"","headers":{},"x":670,"y":680,"wires":[]},{"id":"8ab806cd.37f32","type":"inject","z":"807487aa.61868","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":170,"y":140,"wires":[["82686b7e.7a183","f130b0a5.f86fa"]]},{"id":"82686b7e.7a183","type":"function","z":"807487aa.61868","name":"Init Container","func":"class Agent { //Agente genérico\n    constructor(id){\n        this.id = id;\n        this.messages = [];\n    }\n    \n    sendMessage(message, destId) { // Funcion para enviar un mensaje\n        var agentDict = flow.get(\"agentDict\");\n        if (agentDict.hasOwnProperty(destId)){\n            agentDict[destId].receiveMessage(message, this.id, Date.now());\n            return true;\n        }\n        else\n        {\n            var send = flow.get(\"send\");\n            return send(message, destId, this.id, Date.now());\n        }\n    }\n    receiveMessage(message, senderId, time) {\n        this.messages.push({'sender': senderId, 'timestamp': time, 'message': message});\n    }\n}\n\n// Los clientes deben tener identificador y la lista de tiendas en las que han estado\n// De las tiendas se tiene la ip o hostname y puerto si es necesario\nclass Client {\n    constructor(id,d_shops){\n        this.id = id;\n        this.d_shops = d_shops;\n    }\n}\n\n\nclass Shop extends Agent {\n    constructor(id,d_products){\n        super(id);\n        this.id = id;\n        this.types = \"js\"; // shop type to send and receive\n        this.products = {}; // Products dictionary inizalizer\n        this.forum = 5; // shop avalaible space for clients\n        this.currentState = \"OnService\"; // shop initial state\n        this.states = [\"Onservice\",\"Chaos\"];\n        this.clientesInto = []; // Client list\n        // ¿Si tenemos un aforo tenemos que tener en cuenta QUE personas estan dentro?\n        // Sobrecarga de Constructores\n        \n        // iterate array \n        for(var prod in d_products){\n            this.products[prod[\"identifP\"]] ={\n                name:  prod[\"nombreP\"],\n                stock: prod[\"cantidadP\"]\n            };\n        }\n    }\n    \n    checkForum(){\n        var agentDict = flow.get(\"agentDict\");\n        if(Object.keys(agentDict).length > this.forum){\n            return false;\n        }\n        return true;\n    }\n    \n    // client petition to take some items\n    sellItems(clienteID,dict_products){\n        newlist = {};\n        if(checkForum()){\n            newlist = {};\n            // iterate client list\n            for(var prod in dict_products){\n                if (dict_product.hasOwnProperty(prod)) {\n                    if(this.products.hasOwnProperty(prod)){\n                        // we have enough units of product\n                        if(this.products[prod] >= dict_product[prod]){\n                            this.products[prod] = this.products[prod] - dict_product[prod];\n                            newlist.push({\n                                prod : this.products[prod] - dict_product[prod]\n                            });\n                        }\n                    \n                    }\n                }\n            }\n        }\n        return newlist;\n    }\n    \n    // Client do a petition to know other clients\n    clientsListPetition(clientID){\n        return clientesInto;\n    }\n    \n    sendstate(monitorID){\n        return this.currentState;\n    }\n    \n}\n\nclass TimeAgent extends Agent {\n    constructor(id) {\n        super(id);\n    }\n    getTime(){\n        var date = new Date();\n        // Hours part from the timestamp\n        var hours = date.getUTCHours();\n        // Minutes part from the timestamp\n        var minutes = \"0\" + date.getUTCMinutes();\n        // Seconds part from the timestamp\n        var seconds = \"0\" + date.getUTCSeconds();\n        \n        // Will display time in 10:30:23 format\n        var formattedTime = hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);\n        \n        return formattedTime;\n    }\n    receiveMessage(message, senderId, time) {\n        super.receiveMessage (message, senderId, time);\n        super.sendMessage (this.getTime(), senderId);\n    }\n}\n\nfunction addAgent(name) { // Dar de alta un agente en el contenedor\n    var Agent = flow.get(\"Agent\");\n    var TimeAgent = flow.get(\"TimeAgent\");\n    var lastId = flow.get(\"lastId\");\n    var hostname = flow.get(\"hostname\");\n    var port = flow.get(\"port\");\n    var agentDict = flow.get(\"agentDict\");\n    var dirTable = flow.get(\"dirTable\");\n    \n    var time = Date.now().toString();\n    var newId = hostname.concat(\":\").concat(port).concat(\":\").concat(time).concat(\":\").concat(lastId.toString());\n    if (lastId === 0)\n    {\n        ag = new TimeAgent(newId, name);\n    }\n    else\n    {\n        ag = new Agent(newId, name);\n    }\n    lastId++;\n    agentDict[newId] = ag;\n    dirTable[newId] = {\"hostname\": hostname, \"port\": port}\n    \n    flow.set(\"lastId\", lastId);\n    flow.set(\"agentDict\", agentDict);\n    flow.set(\"dirTable\", dirTable);\n}\n\nfunction remAgent(id) {\n    var agentDict = flow.get(\"agentDict\");\n    \n    delete agentDict[id];\n    \n    flow.set(\"agentDict\", agentDict);\n}\n\nfunction send(message, destId, senderId, time)\n{\n    var dirTable = flow.get(\"dirTable\");\n    if (dirTable.hasOwnProperty(destId)){\n        return [dirTable[destId], {'message': message, 'destId': destId, 'senderId': senderId, 'timestamp': time}];\n    }\n    return false;\n}\n\n\nflow.set(\"Agent\", Agent);\nflow.set(\"TimeAgent\", TimeAgent);\nflow.set(\"addAgent\", addAgent);\nflow.set(\"remAgent\", remAgent);\nflow.set(\"send\", send);\nflow.set(\"agentDict\", {});\nflow.set(\"dirTable\", {});\nflow.set(\"lastId\", 0);\nflow.set(\"hostname\", \"practis.clanjhoo.com\");\nflow.set(\"port\", \"1880\");\nflow.set(\"Shop\",Shop);\nflow.set(\"ourShop\", new Shop());\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[[]]},{"id":"b57821be.97f958","type":"http in","z":"492da878.144","name":"","url":"/mysite","method":"get","upload":false,"swaggerDoc":"","x":290,"y":340,"wires":[["54227585.0640f4"]]},{"id":"adc22a6b.13934","type":"http in","z":"492da878.144","name":"","url":"/mysitepost","method":"post","upload":false,"swaggerDoc":"","x":310,"y":540,"wires":[["d94f1437.698d28","4019df5b.96da08"]]},{"id":"54227585.0640f4","type":"function","z":"492da878.144","name":"msg.url = \"mysitepost\";","func":"msg.url = \"mysitepost\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["1f8dad10.7ee553"]]},{"id":"d94f1437.698d28","type":"debug","z":"492da878.144","name":"mysitepost","active":true,"console":"false","complete":"payload","x":950,"y":540,"wires":[]},{"id":"48581ac5.37f7ec","type":"http response","z":"492da878.144","name":"","x":970,"y":500,"wires":[]},{"id":"ca4df4ce.f65dc","type":"template","z":"492da878.144","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":690,"y":440,"wires":[["33a5a09.ae970e"]]},{"id":"1f8dad10.7ee553","type":"template","z":"492da878.144","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":530,"y":440,"wires":[["ca4df4ce.f65dc"]]},{"id":"aa436d8c.519548","type":"http response","z":"492da878.144","name":"","x":970,"y":440,"wires":[]},{"id":"33a5a09.ae970e","type":"template","z":"492da878.144","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Using CSS to style an HTML form with AJAX POST and Node-RED</h2>\n    <h4><a href=\"http://www.internetoflego.com\">Internet of LEGO</a></h4>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">First Name</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Last Name</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":830,"y":440,"wires":[["aa436d8c.519548"]]},{"id":"1d02e8c9.1cf6a7","type":"comment","z":"492da878.144","name":"Login Form","info":"","x":490,"y":400,"wires":[]},{"id":"bf46c91.39e6838","type":"function","z":"492da878.144","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":500,"wires":[["48581ac5.37f7ec"]]},{"id":"83894712.338bd8","type":"comment","z":"492da878.144","name":"Inject msg object properties","info":"","x":500,"y":300,"wires":[]},{"id":"4019df5b.96da08","type":"json","z":"492da878.144","name":"","pretty":false,"x":510,"y":500,"wires":[["bf46c91.39e6838"]]},{"id":"336c3298.329f8e","type":"comment","z":"492da878.144","name":"Website","info":"","x":270,"y":260,"wires":[]},{"id":"5f119ee2.8380b","type":"comment","z":"492da878.144","name":"Form Submission","info":"","x":300,"y":480,"wires":[]},{"id":"de7f2c26.7dad8","type":"comment","z":"492da878.144","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n","x":600,"y":160,"wires":[]},{"id":"bc3a767a.952b28","type":"function","z":"807487aa.61868","name":"msg.url = \"create\";","func":"msg.url = \"create\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["7be095e5.e220bc"]]},{"id":"a4fda2ea.30d2c","type":"http in","z":"807487aa.61868","name":"","url":"/create","method":"get","upload":false,"swaggerDoc":"","x":170,"y":260,"wires":[["bc3a767a.952b28"]]},{"id":"a95d2068.781808","type":"comment","z":"807487aa.61868","name":"Agent Creation Form","info":"","x":410,"y":320,"wires":[]},{"id":"7be095e5.e220bc","type":"template","z":"807487aa.61868","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","output":"str","x":420,"y":360,"wires":[["8810f9f6.369058"]]},{"id":"8810f9f6.369058","type":"template","z":"807487aa.61868","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\n.formulario{\n    width: 40%;\n}\n\nh1{\n    font-family:Monospace;\n    color:red;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    text-align:center;\n    top:0;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    margin: auto;\n}","output":"str","x":580,"y":360,"wires":[["fd0017c3.8d8a3"]]},{"id":"fd0017c3.8d8a3","type":"template","z":"807487aa.61868","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Agent Creation</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n<body>\n    <h1 style=\"text-align:center\">Create your agent.</h1>\n    \n<div class=\"formulario\">\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"name\">Name</label>\n    <input type=\"text\" id=\"name\" name=\"name\">\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div class=\"formulario\">\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","output":"str","x":720,"y":360,"wires":[["7c34374c.e7d9e"]]},{"id":"7c34374c.e7d9e","type":"http response","z":"807487aa.61868","name":"","statusCode":"","headers":{},"x":860,"y":360,"wires":[]},{"id":"87cac61f.e9b578","type":"http in","z":"807487aa.61868","name":"","url":"/create","method":"post","upload":false,"swaggerDoc":"","x":150,"y":440,"wires":[["9f780f1b.fa4ca"]]},{"id":"6a99b362.ebbc74","type":"function","z":"807487aa.61868","name":"return msg.payload to client","func":"msg.payload = 'The following agent was submitted: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["37d5704c.920fd8"]]},{"id":"37d5704c.920fd8","type":"http response","z":"807487aa.61868","name":"","x":830,"y":500,"wires":[]},{"id":"18872d4e.009d4b","type":"debug","z":"807487aa.61868","name":"","active":true,"console":"false","complete":"false","x":790,"y":620,"wires":[]},{"id":"9f780f1b.fa4ca","type":"function","z":"807487aa.61868","name":"Create Agent","func":"addAgent = flow.get(\"addAgent\");\n\naddAgent(msg.payload.name)\n\nmsg.payload = \"Done!\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["6a99b362.ebbc74"]]},{"id":"47c10ef3.ed317","type":"inject","z":"807487aa.61868","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":620,"wires":[["5ede7e7b.316338"]]},{"id":"5ede7e7b.316338","type":"function","z":"807487aa.61868","name":"","func":"msg.payload = flow.get(\"agentDict\");\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":620,"wires":[["42761cc3.3b32fc"]]},{"id":"322e7b3f.924024","type":"comment","z":"807487aa.61868","name":"View Agents","info":"","x":630,"y":620,"wires":[]},{"id":"1ae4ec2e.ab8a7c","type":"http in","z":"807487aa.61868","name":"","url":"/migrate","method":"get","upload":false,"swaggerDoc":"","x":150,"y":700,"wires":[["bad78336.21775"]]},{"id":"41db5bf0.25878c","type":"http response","z":"807487aa.61868","name":"","x":1010,"y":1080,"wires":[]},{"id":"f5134a09.f5bb8","type":"template","z":"807487aa.61868","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\nh1{\n    font-family:Monospace;\n    color:red;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\n.formulario{\n    width: 40%;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    text-align:center;\n    top:0;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    margin: auto;\n}","output":"str","x":570,"y":800,"wires":[["24ae3e51.63a7e2"]]},{"id":"bbc25ba2.a1465","type":"template","z":"807487aa.61868","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n    //var agentDict = JSON.parse(ajson)\n    var drAgent = document.getElementById('agent');\n    for (var key in agentDict)\n    {\n        if (agentDict.hasOwnProperty(key)) {           \n            var opt = document.createElement('option');\n            opt.innerHtml = key;\n            opt.textContent = agentDict[key].id + ': ' + agentDict[key].name;\n            opt.value = key;\n            drAgent.appendChild(opt);\n        }\n    }\n});","output":"str","x":390,"y":800,"wires":[["f5134a09.f5bb8"]]},{"id":"cb761a73.f5f3a8","type":"http response","z":"807487aa.61868","name":"","x":1050,"y":800,"wires":[]},{"id":"c148ccba.2d8c48","type":"template","z":"807487aa.61868","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Migration</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h1 style=\"text-align:center\">Now it's time to send your agent to another location.</h1>\n\n<div class=\"formulario\">\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"dest\">Destination</label>\n    <input type=\"text\" id=\"dest\" name=\"destination\">\n\n    <!--<label for=\"id\">Agent Identifier</label>\n    <input type=\"text\" id=\"id\" name=\"id\">-->\n\n    <label for=\"agent\">Agent</label>\n    <select id=\"agent\" name=\"agent\"></select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div class=\"formulario\">\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script type=\"text/javascript\">\n    var agentDict = {{{payload.agdict}}};\n    {{{payload.script}}}\n</script>","output":"str","x":890,"y":800,"wires":[["cb761a73.f5f3a8"]]},{"id":"3de43263.d0fdf6","type":"comment","z":"807487aa.61868","name":"Migrate Form","info":"","x":350,"y":760,"wires":[]},{"id":"bad78336.21775","type":"function","z":"807487aa.61868","name":"msg.url = \"migrate\";","func":"msg.url = \"migrate\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":700,"wires":[["bbc25ba2.a1465"]]},{"id":"ac70c46c.00fb3","type":"http in","z":"807487aa.61868","name":"","url":"/migrate","method":"post","upload":false,"swaggerDoc":"","x":190,"y":960,"wires":[["56d88b7d.b1d9bc"]]},{"id":"56d88b7d.b1d9bc","type":"function","z":"807487aa.61868","name":"Search Agent","func":"var dirTable = flow.get(\"dirTable\");\nvar hostname = flow.get(\"hostname\");\nvar port = flow.get(\"port\");\nif (!dirTable.hasOwnProperty(msg.payload.agent)\n|| dirTable[msg.payload.agent][\"hostname\"] !== hostname\n|| dirTable[msg.payload.agent][\"port\"] !== port)\n{\n    msg.payload = \"The Agent is not in this host!\";\n    return msg;\n}\n\nvar agentDict = flow.get(\"agentDict\");\n\nvar ag = agentDict[msg.payload.agent];\n\nflow.set(\"removeId\", msg.payload.agent)\n\nmsg.url = msg.payload[\"destination\"].concat('/receive')\nmsg.headers = {};\nmsg.headers['content-type'] = 'application/xml';\nmsg.payload = ag\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":960,"wires":[["fa0fc37e.c746"]]},{"id":"81d4caf5.67abc","type":"function","z":"807487aa.61868","name":"return msg.payload to client","func":"msg.payload = 'The following agent was submitted: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":960,"wires":[["41db5bf0.25878c"]]},{"id":"690add30.9f665c","type":"http request","z":"807487aa.61868","name":"","method":"POST","ret":"txt","url":"","tls":"","x":530,"y":1080,"wires":[["1126e501.249cbb"]]},{"id":"aedca7bd.014178","type":"xml","z":"807487aa.61868","name":"","attr":"","chr":"","x":350,"y":1080,"wires":[["690add30.9f665c"]]},{"id":"1126e501.249cbb","type":"function","z":"807487aa.61868","name":"Delete Agent","func":"var remAgent = flow.get(\"remAgent\");\nvar id = flow.get(\"removeId\");\nvar dirTable = flow.get(\"dirTable\");\n\nremAgent(id);\nvar hp = msg.url.split(\"/\")[0].split(\":\")\ndirTable[id] = {\"hostname\": hp[0], \"port\": hp[1]}\n\nflow.set(\"removeId\", undefined);\nflow.set(\"dirTable\", dirTable);\n\nmsg.payload = \"Done!\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1080,"wires":[["81d4caf5.67abc"]]},{"id":"fc10f77d.f118a","type":"http in","z":"807487aa.61868","name":"","url":"/receive","method":"post","upload":false,"swaggerDoc":"","x":190,"y":1200,"wires":[["92d9c2a6.9a0b98"]]},{"id":"a8208675.1756","type":"function","z":"807487aa.61868","name":"Build Agent","func":"var Agent = flow.get(\"Agent\");\nvar ag;\nvar aux;\n\nfor (var key in msg.payload)\n{\n    if (msg.payload.hasOwnProperty(key)) {           \n        aux = msg.payload[key];\n        ag = new Agent(aux['id'][0], aux['name'][0])\n    }\n    \n}\n\nmsg.payload = ag\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1200,"wires":[["73b21d48.d8abfc"]]},{"id":"92d9c2a6.9a0b98","type":"xml","z":"807487aa.61868","name":"","attr":"","chr":"","x":370,"y":1200,"wires":[["a8208675.1756"]]},{"id":"73b21d48.d8abfc","type":"function","z":"807487aa.61868","name":"Add Agent","func":"//var addAgent = flow.get(\"addAgent\");\nvar agentDict = flow.get(\"agentDict\");\nvar dirTable = flow.get(\"dirTable\");\nvar hostname = flow.get(\"hostname\");\nvar port = flow.get(\"port\");\n\nagentDict[msg.payload.id] = msg.payload;\ndirTable[msg.payload.id] = {\"hostname\": hostname, \"port\": port}\n//addAgent(msg.payload)\n\nflow.set(\"agentDict\", agentDict);\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1260,"wires":[["b82e1719.a49dc","6e8c69fa.523588"]]},{"id":"b82e1719.a49dc","type":"http response","z":"807487aa.61868","name":"","x":930,"y":1360,"wires":[]},{"id":"6e8c69fa.523588","type":"json","z":"807487aa.61868","name":"","pretty":false,"x":875,"y":1203.3333333333333,"wires":[["6b5ada5e.5ab374"]]},{"id":"6b5ada5e.5ab374","type":"debug","z":"807487aa.61868","name":"","active":false,"console":"false","complete":"false","x":1023.8888888888889,"y":1203.3333333333333,"wires":[]},{"id":"24ae3e51.63a7e2","type":"function","z":"807487aa.61868","name":"","func":"var agentDict = flow.get('agentDict');\n\nmsg.payload.agdict = JSON.stringify(agentDict)\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":800,"wires":[["c148ccba.2d8c48"]]},{"id":"43948cbf.d49074","type":"inject","z":"807487aa.61868","name":"AddAgent","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":200,"wires":[["f130b0a5.f86fa"]]},{"id":"f130b0a5.f86fa","type":"function","z":"807487aa.61868","name":"Init Container","func":"var ourShop = flow.get(\"ourShop\");\nvar addAgent = flow.get(\"addAgent\");\nvar lastId = flow.get(\"lastId\");\n\naddAgent('A' + lastId.toString());\naddAgent('A' + (lastId + 1).toString());\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[[]]},{"id":"42761cc3.3b32fc","type":"json","z":"807487aa.61868","name":"","pretty":false,"x":470,"y":620,"wires":[["18872d4e.009d4b"]]},{"id":"fa0fc37e.c746","type":"switch","z":"807487aa.61868","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"The Agent is not in this host!","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":571,"y":919,"wires":[["81d4caf5.67abc"],["aedca7bd.014178"]]},{"id":"781df27.028908c","type":"inject","z":"807487aa.61868","name":"Reset Container","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":660,"y":140,"wires":[["f19276bd.d251e"]]},{"id":"f19276bd.d251e","type":"function","z":"807487aa.61868","name":"Reset Agents","func":"flow.set(\"agentDict\", {});\nflow.set(\"dirTable\", {});\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":140,"wires":[[]]},{"id":"8bb3aaa9.3c9218","type":"http in","z":"807487aa.61868","name":"","url":"/send","method":"get","upload":false,"swaggerDoc":"","x":180,"y":1420,"wires":[["d052312.9163ed"]]},{"id":"6287f91.e499188","type":"template","z":"807487aa.61868","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\nh1{\n    font-family:Monospace;\n    color:red;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\n.formulario{\n    width: 40%;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    text-align:center;\n    top:0;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    margin: auto;\n}","output":"str","x":610,"y":1520,"wires":[["46798837.0ef9e"]]},{"id":"27a7047e.8235fc","type":"template","z":"807487aa.61868","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n    //var agentDict = JSON.parse(ajson)\n    var drAgent = document.getElementById('agent');\n    for (var key in agentDict)\n    {\n        if (agentDict.hasOwnProperty(key)) {           \n            var opt = document.createElement('option');\n            opt.innerHtml = key;\n            opt.textContent = agentDict[key].id + ': ' + agentDict[key].name;\n            opt.value = key;\n            drAgent.appendChild(opt);\n        }\n    }\n    \n    var drDest = document.getElementById('dest');\n    for (var key in dirTable)\n    {\n        if (dirTable.hasOwnProperty(key)) {           \n            opt = document.createElement('option');\n            opt.innerHtml = key;\n            opt.textContent = key;\n            opt.value = key;\n            drDest.appendChild(opt);\n        }\n    }\n});","output":"str","x":430,"y":1520,"wires":[["6287f91.e499188"]]},{"id":"e641d0ef.f5ff9","type":"http response","z":"807487aa.61868","name":"","x":1090,"y":1520,"wires":[]},{"id":"7ee6cb22.32e9cc","type":"template","z":"807487aa.61868","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Send Message</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h1 style=\"text-align:center\">Now it's time to send messages between agents!</h1>\n\n<div class=\"formulario\">\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"agent\">SenderId</label>\n    <select id=\"agent\" name=\"agent\"></select>\n    \n    <label for=\"dest\">DestId</label>\n    <select id=\"dest\" name=\"destination\"></select>\n    \n    <label for=\"mess\">Message</label>\n    <input type=\"text\" id=\"mess\" name=\"message\">\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div class=\"formulario\">\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script type=\"text/javascript\">\n    var agentDict = {{{payload.agdict}}};\n    var dirTable = {{{payload.dirtab}}};\n    {{{payload.script}}}\n</script>","output":"str","x":930,"y":1520,"wires":[["e641d0ef.f5ff9"]]},{"id":"1f68b9d4.d49556","type":"comment","z":"807487aa.61868","name":"Migrate Form","info":"","x":390,"y":1480,"wires":[]},{"id":"d052312.9163ed","type":"function","z":"807487aa.61868","name":"msg.url = \"send\";","func":"msg.url = \"send\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1420,"wires":[["27a7047e.8235fc"]]},{"id":"46798837.0ef9e","type":"function","z":"807487aa.61868","name":"","func":"var agentDict = flow.get('agentDict');\nvar dirTable = flow.get('dirTable');\n\nmsg.payload.agdict = JSON.stringify(agentDict)\nmsg.payload.dirtab = JSON.stringify(dirTable)\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":1520,"wires":[["7ee6cb22.32e9cc"]]},{"id":"3b8a7e09.b3b982","type":"http response","z":"807487aa.61868","name":"","x":1110,"y":1620,"wires":[]},{"id":"9f4a1e50.0cd388","type":"http in","z":"807487aa.61868","name":"","url":"/send","method":"post","upload":false,"swaggerDoc":"","x":190,"y":1640,"wires":[["62f39a70.117124"]]},{"id":"62f39a70.117124","type":"function","z":"807487aa.61868","name":"Search Agent","func":"var dirTable = flow.get(\"dirTable\");\nvar hostname = flow.get(\"hostname\");\nvar port = flow.get(\"port\");\nif (!dirTable.hasOwnProperty(msg.payload.agent)\n|| dirTable[msg.payload.agent][\"hostname\"] !== hostname\n|| dirTable[msg.payload.agent][\"port\"] !== port)\n{\n    msg.payload = \"The Agent is not in this host!\";\n    return msg;\n}\n\nvar agentDict = flow.get(\"agentDict\");\n\nvar ag = agentDict[msg.payload.agent];\nvar result = ag.sendMessage(msg.payload.message, msg.payload.destination);\n\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1640,"wires":[["c155b7ef.8087b8"]]},{"id":"d8a6e36b.c3bd38","type":"function","z":"807487aa.61868","name":"Success","func":"msg.payload = 'Noice! <br> <br> <img src=\"https://media.tenor.com/images/b67da9f2ab503e38e07167d48ba0905f/tenor.gif\"></img>';\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1680,"wires":[["3b8a7e09.b3b982"]]},{"id":"f6702830.5d7598","type":"http in","z":"807487aa.61868","name":"","url":"/rmess","method":"post","upload":false,"swaggerDoc":"","x":190,"y":1880,"wires":[["ada0d737.4bb7d"]]},{"id":"c155b7ef.8087b8","type":"switch","z":"807487aa.61868","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"The Agent is not in this host!","vt":"str"},{"t":"false"},{"t":"true"},{"t":"else"}],"checkall":"true","outputs":4,"x":450,"y":1740,"wires":[["6cfe7430.975fe4"],["6cfe7430.975fe4"],["d8a6e36b.c3bd38"],["1f90c49b.7d008b"]]},{"id":"1f90c49b.7d008b","type":"function","z":"807487aa.61868","name":"Send Message","func":"msg.url = msg.payload[0]['hostname'].concat(':').concat(msg.payload[0]['port']).concat('/rmess')\nmsg.payload = msg.payload[1]\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1780,"wires":[["e2427984.2dce88"]]},{"id":"6cfe7430.975fe4","type":"function","z":"807487aa.61868","name":"Failure (Local)","func":"msg.payload = 'ERROR!';\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1620,"wires":[["3b8a7e09.b3b982"]]},{"id":"55a13ce7.e08c5c","type":"http request","z":"807487aa.61868","name":"","method":"POST","ret":"txt","url":"","tls":"","x":950,"y":1780,"wires":[["d8a6e36b.c3bd38"]]},{"id":"e2427984.2dce88","type":"xml","z":"807487aa.61868","name":"","attr":"","chr":"","x":790,"y":1780,"wires":[["55a13ce7.e08c5c"]]},{"id":"39d8b56c.c401ca","type":"function","z":"807487aa.61868","name":"Search Agent","func":"var dirTable = flow.get(\"dirTable\");\nvar hostname = flow.get(\"hostname\");\nvar port = flow.get(\"port\");\n\nvar aux = msg.payload['root'];\nif (!dirTable.hasOwnProperty(aux.destId)\n|| dirTable[aux.destId][\"hostname\"] !== hostname\n|| dirTable[aux.destId][\"port\"] !== port)\n{\n    msg.payload = aux;\n    return msg;\n}\n\nvar agentDict = flow.get(\"agentDict\");\n\nvar ag = agentDict[aux.destId];\nag.receiveMessage(aux.message[0], aux.senderId[0], aux.timestamp[0]);\n\nmsg.payload = \"Noice\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1880,"wires":[["5a9ebede.91a6e"]]},{"id":"ada0d737.4bb7d","type":"xml","z":"807487aa.61868","name":"","attr":"","chr":"","x":370,"y":1880,"wires":[["39d8b56c.c401ca"]]},{"id":"5a9ebede.91a6e","type":"http response","z":"807487aa.61868","name":"","statusCode":"","headers":{},"x":750,"y":1880,"wires":[]},{"id":"985e80cc.e2d7d8","type":"http in","z":"807487aa.61868","name":"","url":"/delete","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1980,"wires":[["885ac11b.765938"]]},{"id":"7a2c877c.da0bc","type":"template","z":"807487aa.61868","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\nh1{\n    font-family:Monospace;\n    color:red;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\n.formulario{\n    width: 40%;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    text-align:center;\n    top:0;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    margin: auto;\n}","output":"str","x":590,"y":2080,"wires":[["cbdaa638.bd9a78"]]},{"id":"21856358.49b034","type":"template","z":"807487aa.61868","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n    //var agentDict = JSON.parse(ajson)\n    var drAgent = document.getElementById('agent');\n    for (var key in agentDict)\n    {\n        if (agentDict.hasOwnProperty(key)) {           \n            var opt = document.createElement('option');\n            opt.innerHtml = key;\n            opt.textContent = agentDict[key].id + ': ' + agentDict[key].name;\n            opt.value = key;\n            drAgent.appendChild(opt);\n        }\n    }\n});","output":"str","x":410,"y":2080,"wires":[["7a2c877c.da0bc"]]},{"id":"e9d7c560.23ede8","type":"http response","z":"807487aa.61868","name":"","statusCode":"","headers":{},"x":1070,"y":2080,"wires":[]},{"id":"9f9528c7.dd0bb","type":"template","z":"807487aa.61868","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Delete agent</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h1 style=\"text-align:center\">Now it's time to kill an agent!</h1>\n\n<div class=\"formulario\">\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    \n    <label for=\"agent\">Agent</label>\n    <select id=\"agent\" name=\"agent\"></select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div class=\"formulario\">\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script type=\"text/javascript\">\n    var agentDict = {{{payload.agdict}}};\n    {{{payload.script}}}\n</script>","output":"str","x":910,"y":2080,"wires":[["e9d7c560.23ede8"]]},{"id":"83d31948.a12418","type":"comment","z":"807487aa.61868","name":"Migrate Form","info":"","x":370,"y":2040,"wires":[]},{"id":"885ac11b.765938","type":"function","z":"807487aa.61868","name":"msg.url = \"delete\";","func":"msg.url = \"delete\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1980,"wires":[["21856358.49b034"]]},{"id":"cbdaa638.bd9a78","type":"function","z":"807487aa.61868","name":"","func":"var agentDict = flow.get('agentDict');\n\nmsg.payload.agdict = JSON.stringify(agentDict)\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":2080,"wires":[["9f9528c7.dd0bb"]]},{"id":"65f5370b.2b14b8","type":"http response","z":"807487aa.61868","name":"","x":570,"y":2220,"wires":[]},{"id":"96446b6a.a9ad6","type":"http in","z":"807487aa.61868","name":"","url":"/delete","method":"post","upload":false,"swaggerDoc":"","x":180,"y":2220,"wires":[["59d279.9cbf4588"]]},{"id":"59d279.9cbf4588","type":"function","z":"807487aa.61868","name":"Search Agent","func":"var dirTable = flow.get(\"dirTable\");\nvar hostname = flow.get(\"hostname\");\nvar port = flow.get(\"port\");\nif (!dirTable.hasOwnProperty(msg.payload.agent)\n|| dirTable[msg.payload.agent][\"hostname\"] !== hostname\n|| dirTable[msg.payload.agent][\"port\"] !== port)\n{\n    msg.payload = \"The Agent is not in this host!\";\n    return msg;\n}\n\nvar agentDict = flow.get(\"agentDict\");\n\ndelete dirTable[msg.payload.agent];\ndelete agentDict[msg.payload.agent];\n\nflow.set(\"agentDict\", agentDict);\nflow.set(\"dirTable\", dirTable);\n\nmsg.payload = 'Done <br> <br> <img src=\"http://www.fahrenheitmagazine.com/wp-content/uploads/2015/07/padrino.gif\"></img>';\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":2220,"wires":[["65f5370b.2b14b8"]]},{"id":"2d0c243e.f07bfc","type":"http in","z":"807487aa.61868","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":180,"y":2340,"wires":[["eeb7fbca.be466"]]},{"id":"eeb7fbca.be466","type":"template","z":"807487aa.61868","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\nh1{\n    font-family:Monospace;\n    color:red;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\n.formulario{\n    width: 40%;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    text-align:center;\n    top:0;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    margin: auto;\n}","output":"str","x":350,"y":2340,"wires":[["5a1963de.9e6cec"]]},{"id":"5a1963de.9e6cec","type":"template","z":"807487aa.61868","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Index</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h1 style=\"text-align:center\">Choose an option or die!</h1>\n\n<a href=\"http://clanjhoo.com:1880/create\">Create Agent.</a>\n<div class=\"formulario\">\n  \n</div>\n\n</body>\n</html>\n<script type=\"text/javascript\">\n</script>","output":"str","x":510,"y":2340,"wires":[["70ed8ea9.56ef"]]},{"id":"70ed8ea9.56ef","type":"http response","z":"807487aa.61868","name":"","statusCode":"","headers":{},"x":670,"y":2340,"wires":[]},{"id":"4fe5ed97.43d91c","type":"inject","z":"807487aa.61868","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":200,"y":2440,"wires":[["80fef55.2fb2d08"]]},{"id":"80fef55.2fb2d08","type":"function","z":"807487aa.61868","name":"","func":"var TimeAgent = flow.get(\"TimeAgent\");\n\nvar ta = new TimeAgent('aad', 'aadd');\nmsg.payload = ta.getTime()\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":2440,"wires":[["f2f5ca52.62cfe8"]]},{"id":"f2f5ca52.62cfe8","type":"debug","z":"807487aa.61868","name":"","active":true,"console":"false","complete":"false","x":590,"y":2440,"wires":[]},{"id":"40a1d790.f6acf8","type":"http in","z":"807487aa.61868","name":"MSGReceive","url":"/","method":"post","upload":false,"swaggerDoc":"","x":190,"y":2540,"wires":[["4a413d98.60a9d4","cbabe595.d97f08"]]},{"id":"4a413d98.60a9d4","type":"xml","z":"807487aa.61868","name":"ParseXML","attr":"","chr":"","x":410,"y":2540,"wires":[["cecee254.4268e"]]},{"id":"1b19cf15.4e4c91","type":"http response","z":"807487aa.61868","name":"MsgResponse","statusCode":"","headers":{},"x":1296,"y":2611,"wires":[]},{"id":"cecee254.4268e","type":"function","z":"807487aa.61868","name":"FixRecvObject","func":"function rUlness(col)\n{\n    var t = typeof col\n    if (t === \"object\")\n    {\n        if (col.hasOwnProperty('length'))\n        {\n            for (var i = 0; i < col.length; i++) {\n                col[i] = rUlness(col[i]);\n            }\n            if (col.length === 1)\n            {\n                col = col[0]\n            }\n        }\n        else\n        {\n            for (var key in col) {\n                if (col.hasOwnProperty(key)) {\n                    col[key] = rUlness(col[key]);\n                }\n            }\n        }\n    }\n    return col;\n}\n\nmsg.payload = rUlness(msg.payload)\nmsg.type = Object.keys(msg.payload)[0]\n\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":2631,"wires":[["ed6c2dea.0efee8"]]},{"id":"4ce55040.51a8d","type":"xml","z":"807487aa.61868","name":"WriteXMLResponse","attr":"","chr":"","x":1067,"y":2819,"wires":[[]]},{"id":"73ad5efc.3acc5","type":"function","z":"807487aa.61868","name":"Answer","func":"//msg.payload['TC2'] = msg.payload['CT1']\n//delete msg.payload['CT1']\n\n/*\ndict.push({\n    key:   \"keyName\",\n    value: \"the value\"\n});\n*/\nvar d = new Date();\n\nvar time = [{timestamp: d.getTime(),creador:\"clanjhoo.com:1880\"}];\n\nfor (var key in msg.payload) {\n    if (msg.payload.hasOwnProperty(key)) {\n        if(key=='CT1'){\n            for (var lb in msg.payload[key]) {\n                if (msg.payload.hasOwnProperty(key)) {\n                    if(lb === \"emisor\"){\n                        var receptorR = msg.payload[key][lb][\"emisor\"]\n                    }\n                    if(lb === \"receptor\"){\n                        var emisorR = msg.payload[key][lb][\"receptor\"]\n                    }\n                    //msg.payload[key][lb] = msg.payload[key][lb]\n                    /*\n                    if (lb === \"time\") {\n                        msg.payload[key][lb][\"timestamp\"] = msg.payload[key][lb][\"timestamp\"][0]\n                        msg.payload[key][lb][\"creador\"] = msg.payload[key][lb][\"creador\"][0]\n                    }\n                    */\n                    if (lb === \"listaP\") {\n                        /*\n                        for(var prod in msg.payload[key][lb]){ // [0]?\n                            \n                            if(prod == \"producto\"){\n                                nom_producto = msg.payload[key][lb][prod][\"nombre\"][0]\n                                cant_producto = msg.payload[key][lb][prod][\"cantidad\"][0]\n                            }\n                            // insertar codigo para preparar mensajes con productos por cada producto\n                            \n                        }\n                        */\n                        var listaCompradoR = msg.payload[key][lb]\n                    }\n                }\n            }\n            msg.payload = []\n            msg.payload['TC3'] = []\n            var emisor = [{emisor: emisorR}];\n            var receptor = [{receptor: receptorR}];\n            var listaComprado = [{listaComprado: listaCompradoR}];\n            msg.payload['TC3'].push([{emisor: emisor}]);\n            msg.payload['TC3'].push([{receptor: receptor}]);\n            msg.payload['TC3'].push([{time: time}]);\n            msg.payload['TC3'].push([{listaComprado: listaComprado}]);\n            return msg;\n        }\n        if(key=='MT1'){\n            for (var lb in msg.payload[key]) {\n                if (msg.payload.hasOwnProperty(key)) {\n                    msg.payload[key][lb] = msg.payload[key][lb][0]\n                    if (lb === \"time\") {\n                        msg.payload[key][lb][\"timestamp\"] = msg.payload[key][lb][\"timestamp\"][0]\n                        msg.payload[key][lb][\"creador\"] = msg.payload[key][lb][\"creador\"][0]\n                    }\n                }\n            }\n            return msg;\n        }\n        if(key=='MT3'){\n            for (var lb in msg.payload[key]) {\n                if (msg.payload.hasOwnProperty(key)) {\n                    msg.payload[key][lb] = msg.payload[key][lb][0]\n                    if (lb === \"time\") {\n                        msg.payload[key][lb][\"timestamp\"] = msg.payload[key][lb][\"timestamp\"][0]\n                        msg.payload[key][lb][\"creador\"] = msg.payload[key][lb][\"creador\"][0]\n                    }\n                }\n            }\n            return msg;\n        }\n        if(key=='MT5'){\n            for (var lb in msg.payload[key]) {\n                if (msg.payload.hasOwnProperty(key)) {\n                    msg.payload[key][lb] = msg.payload[key][lb][0]\n                    if (lb === \"time\") {\n                        msg.payload[key][lb][\"timestamp\"] = msg.payload[key][lb][\"timestamp\"][0]\n                        msg.payload[key][lb][\"creador\"] = msg.payload[key][lb][\"creador\"][0]\n                    }\n                }\n            }\n            return msg;\n        }\n        delete msg.payload[key]\n        msg.payload[\"error\"] = \"mensaje no esperado\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":774,"y":2835,"wires":[["4ce55040.51a8d"]]},{"id":"cbabe595.d97f08","type":"debug","z":"807487aa.61868","name":"ReceivedMSG","active":false,"console":"false","complete":"payload","x":321.16668701171875,"y":2639.3334350585938,"wires":[]},{"id":"3a91a94d.01329e","type":"function","z":"807487aa.61868","name":"RemoveRootTag","func":"msg.payload = msg.payload.replace(\"<root>\",\"\")\nmsg.payload = msg.payload.replace(\"</root>\",\"\")\nreturn msg;","outputs":1,"noerr":0,"x":1172.5,"y":2360,"wires":[[]]},{"id":"47606191.e53338","type":"debug","z":"807487aa.61868","name":"ViewResponse","active":false,"console":"false","complete":"payload","x":1309.5,"y":2454,"wires":[]},{"id":"a5e99e62.e63148","type":"inject","z":"807487aa.61868","name":"TestCT1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167,"y":2846,"wires":[["b8524bf9.1c841"]]},{"id":"b8524bf9.1c841","type":"function","z":"807487aa.61868","name":"CreateCT1","func":"var mes = { CT1: {\n    emisor: 'emi',\n    receptor: 'rece',\n    time: {\n        timestamp: 1000,\n        creador: 'localhost'\n    },\n    listaP: {\n        producto: [\n            {\n                nombre: 'n1',\n                cantidad: 1\n            },\n            {\n                nombre: 'n2',\n                cantidad: 2\n            }\n        ]\n    },\n    listaT: {\n        tienda: [\n            {\n                idTienda: 'id1',\n                direccion: 'dir1',\n                tipo: 'php'\n            },\n            {\n                idTienda: 'id2',\n                direccion: 'dir2',\n                tipo: 'py'\n            }\n        ]\n    }\n}};\n\n/*\nmsg.payload = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>\\\n<CT1>\\\n\t<emisor>id</emisor>\\\n\t<receptor>id</receptor>\\\n\t<time>\\\n\t\t<timestamp>ts</timestamp>\\\n\t\t<creador>direccion</creador>\\\n\t</time>\\\n\t<listaP>\\\n\t\t<producto>\\\n\t\t\t<nombre>nom</nombre>\\\n\t\t\t<cantidad>cant</cantidad>\\\n\t\t</producto>\\\n\t\t<producto>\\\n\t\t\t<nombre>nom2</nombre>\\\n\t\t\t<cantidad>cant2</cantidad>\\\n\t\t</producto>\\\n\t</listaP>\\\n\t<listaT>\\\n\t\t<tienda>\\\n\t\t\t<idTienda>id</idTienda>\\\n\t\t\t<direccion>url</direccion>\\\n\t\t\t<tipo>py</tipo>\\\n\t\t</tienda>\\\n\t\t<tienda>\\\n\t\t\t<idTienda>id2</idTienda>\\\n\t\t\t<direccion>url2</direccion>\\\n\t\t\t<tipo>php</tipo>\\\n\t\t</tienda>\\\n\t</listaT>\\\n</CT1>'\n*/\n\nmsg.payload = mes;\nreturn msg;","outputs":1,"noerr":0,"x":191,"y":2953,"wires":[["8d05a68b.37adb"]]},{"id":"8d05a68b.37adb","type":"xml","z":"807487aa.61868","name":"CT1ToXMLTest","attr":"","chr":"","x":415,"y":2953,"wires":[["cff888a9.45af6","640697f1.2e71f"]]},{"id":"cff888a9.45af6","type":"debug","z":"807487aa.61868","name":"ShowTestCT1","active":false,"console":"false","complete":"payload","x":569,"y":2848,"wires":[]},{"id":"640697f1.2e71f","type":"http request","z":"807487aa.61868","name":"SendCT1","method":"POST","ret":"txt","url":"localhost:1880","tls":"","x":622,"y":2955,"wires":[["2a34f04.aec141"]]},{"id":"2a34f04.aec141","type":"debug","z":"807487aa.61868","name":"Print Response","active":true,"console":"false","complete":"payload","x":869,"y":2952,"wires":[]},{"id":"ed6c2dea.0efee8","type":"switch","z":"807487aa.61868","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"CT1","vt":"str"},{"t":"eq","v":"CT4","vt":"str"},{"t":"eq","v":"CT6","vt":"str"},{"t":"eq","v":"MT1","vt":"str"},{"t":"eq","v":"MT3","vt":"str"},{"t":"eq","v":"MT5","vt":"str"},{"t":"else"}],"checkall":"true","outputs":7,"x":757,"y":2541,"wires":[["4c0767b0.b0c21"],["ad5420d1.caddb"],["9ad7c557.1c4338"],["692716aa.20a4e8"],["21822a70.1c10c6"],["2a76775b.3c4388"],["901b805.9738b"]]},{"id":"4c0767b0.b0c21","type":"function","z":"807487aa.61868","name":"CT1","func":"tc2 = {\n    TC2: {\n        emisor: 'idclanjhoo',\n        receptor: msg.payload['CT1']['emisor'],\n        time: {\n            timestamp: Date.now(),\n            creador: 'http://clanjhoo.com:1880'\n        }\n    }\n}\n\ntc3 = {\n    TC3: {\n        emisor: 'idclanjhoo',\n        receptor: msg.payload['CT1']['emisor'],\n        time: {\n            timestamp: Date.now(),\n            creador: 'http://clanjhoo.com:1880'\n        },\n        listaP: msg.payload['CT1']['listaP']\n    }\n}\n\nmsg.payload = tc3\nif (Math.random() < 0.5){\n    msg.payload = tc2\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":927,"y":2370,"wires":[["b6fa1435.f8d1a"]]},{"id":"ad5420d1.caddb","type":"function","z":"807487aa.61868","name":"CT4","func":"\nreturn msg;","outputs":1,"noerr":0,"x":952,"y":2430,"wires":[["b6fa1435.f8d1a"]]},{"id":"9ad7c557.1c4338","type":"function","z":"807487aa.61868","name":"CT6","func":"\nreturn msg;","outputs":1,"noerr":0,"x":958,"y":2486,"wires":[["b6fa1435.f8d1a"]]},{"id":"692716aa.20a4e8","type":"function","z":"807487aa.61868","name":"MT1","func":"\nreturn msg;","outputs":1,"noerr":0,"x":983,"y":2540,"wires":[["b6fa1435.f8d1a"]]},{"id":"21822a70.1c10c6","type":"function","z":"807487aa.61868","name":"MT3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":953,"y":2592,"wires":[["b6fa1435.f8d1a"]]},{"id":"2a76775b.3c4388","type":"function","z":"807487aa.61868","name":"MT5","func":"\nreturn msg;","outputs":1,"noerr":0,"x":939,"y":2649,"wires":[["b6fa1435.f8d1a"]]},{"id":"901b805.9738b","type":"function","z":"807487aa.61868","name":"UNKNOWN","func":"msg.payload = {\n    UNKNOWN: 'ERROR'\n}\nreturn msg;","outputs":1,"noerr":0,"x":925,"y":2704,"wires":[["b6fa1435.f8d1a"]]},{"id":"b6fa1435.f8d1a","type":"xml","z":"807487aa.61868","name":"","attr":"","chr":"","x":1192,"y":2532,"wires":[["1b19cf15.4e4c91","47606191.e53338"]]}]